---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;

body {
    color: black !important;
}

.underline {
    text-decoration: underline;
}

.font-light {
    font-weight: 300 !important;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "functions",
        "icons",
        "pages/index",
        "pages/clients-and-partners",
        "components/buttons",
        "components/links",
        "components/progress-bars",
        "components/api-integration",
        "components/input",
        "components/page",
        "components/carousel",
        "vendor/animate",
        "layout"
;
