---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-xs-12 col-sm-12 col-lg-12 box box-header popup wow animate fadeIn">
            <div class="tl-line">
            </div>
            <h1 class="hidden-xs hidden-sm hidden-md visible-lg visible-sm maxwidth-big-headline">
                Global identity<br>verification based<br> on online activity</h1>
                <h2 class="hidden-lg maxwidth-small-headline">
                    Global identity<br>
                    verification based<br>
                    on online activity
                </h2>
                <div class="divider-header-2"></div>
                <p class="hidden-xs hidden-sm visible-md visible-lg visible-sm maxwidth-copy light">
                     Instant and accurate identity verification for streamlined onboarding, reduced fraud and Know Your Customer requirements.
                </p>
                <p class="hidden-lg hidden-md maxwidth-copy light">
                    Instant, accurate and global<br> customer identification.
                </p>
                <div class="divider-header-2"></div>
                <div>
                    <a href="./contact.html" class="button button-contact">Get in touch</a>
                </div>
            </div>
            <div class="visible-xs col-xs-12 col-sm-12 col-lg-12 box box-header-small">
                <div class="tl-line">
                </div>
                <h3 class="visible-xs visible-sm visible-md visible-lg darkblue">
                    Social KYC
                </h3>
                <h2 class="maxwidth-small-headline">
                    Global identity<br>
                    verification based<br>
                    on online activity
                </h2>
                <p class="maxwidth-small-headline light center">
                    <br>
                    <div class="visible-sx col-xs-12 col-sm-12 col-lg-12 box-header-small-popup popup-small">
                        <br>
                        <p class="maxwidth-copy light">
                            Instant, accurate<br> 
                            and global customer<br>
                            identification.
                        </p>
                        <div class="divider-header-2"></div>
                        <a class="button" href="./contact.html">
                            Get in touch
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>


    <div class="visible-lg hidden-xs container-fluid wow animate fadeIn divider">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-lg-3 box heading-solutions">
                <h4 class="visible-xs visible-sm visible-md visible-lg white">Services</h4>
                <p class="maxwidth light solutionsh3 solutionsh3-max white">
                    A closer look at the services we provide            
                </p>
            </div>
            <a href="./onboarding.html">
                <div class="col-xs-12 col-sm-3 col-lg-3 box story-product onboarding-icons onboarding-product">
                    <div class="tl-line onboarding-line">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-5">
                            <img class="solutions-item" src="./svg/onboarding-1.svg">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-7">
                            <h3 class="visible-xs visible-sm visible-md visible-lg darkblue">
                                Verified<br>Onboarding<i class="material-icons icon-position">keyboard_arrow_right</i>
                            </h3>
                            <p class="maxwidth light solutionsh3">
                                Maintain your<br> site's integrity
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="./transactions.html">
                <div class="col-xs-12 col-sm-3 col-lg-3 box story-product transactions-icons transaction-product">
                    <div class="tl-line transaction-line">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-5">
                            <img class="solutions-item" src="./svg/creditcard-1.svg">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-7">
                            <h3 class="visible-xs visible-sm visible-md visible-lg darkblue">
                                Verified<br>Transactions<i class="material-icons icon-position">keyboard_arrow_right</i>
                            </h3>
                            <p class="maxwidth light solutionsh3">
                                Accept more<br> good customers
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="./activity.html">              
                <div class="col-xs-12 col-sm-3 col-lg-3 box story-product activity-icons activity-product">
                    <div class="tl-line activity-line">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-5">
                            <img class="solutions-item activity" src="./svg/activity-1.svg">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-7">
                            <h3 class="visible-xs visible-sm visible-md visible-lg darkblue">
                                Verified<br> Internet Life<i class="material-icons icon-position">keyboard_arrow_right</i>
                            </h3>
                            <p class="maxwidth light solutionsh3">
                                Proof of<br>online activity         
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="hidden-lg visible-xs visible-sm visible-md container-fluid wow animate fadeIn divider">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-lg-3 box heading-solutions-md">
                <h4 class="visible-xs visible-sm visible-md visible-lg white">Services</h4>
                <p class="maxwidth light solutionsh3 solutionsh3-max white">
                    A closer look at the services we provide                
                </p>
            </div>
            <a href="./onboarding.html">
                <div class="col-xs-6 col-sm-3 col-lg-3 box story-product-md onboarding-icons onboarding-product">
                    <div class="tl-line onboarding-line">
                    </div>
                    <img class="solutions-item" src="./svg/onboarding-1.svg">
                    <h3 class="visible-xs visible-sm visible-md visible-lg darkblue solutionsh3">
                        Verified Onboarding
                    </h3>
                    <p class="maxwidth light solutionsh3">
                        Maintain your<br> site's integrity
                    </p>
                </div>
            </a>
            <a href="./transactions.html">
                <div class="col-xs-6 col-sm-3 col-lg-3 box story-product-md transactions-icons transaction-product">
                    <div class="tl-line transaction-line">
                    </div>
                    <img class="solutions-item" src="./svg/creditcard-1.svg">
                    <h3 class="visible-xs visible-sm visible-md visible-lg darkblue solutionsh3">
                        Verified Transactions
                    </h3>
                    <p class="maxwidth light solutionsh3">
                        Accept more<br>good customers
                    </p>
                </div>
            </a>
            <a href="./activity.html">              
                <div class="col-xs-6 col-sm-3 col-lg-3 box story-product-md activity-icons activity-product">
                    <div class="tl-line activity-line">
                    </div>
                    <img class="solutions-item activity" src="./svg/activity-1.svg">
                    <h3 class="visible-xs visible-sm visible-md visible-lg darkblue solutionsh3">
                        Verified<br> Internet Life
                    </h3>
                    <p class="maxwidth light solutionsh3">
                        Proof of<br>online activity             
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="container-fluid divider">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 box howitworks-bg- box-quote wow animate fadeIn">
                <div class="tl-line">
                </div>
                <h1 class="visible-lg center thin">How it works</h1>
                <h2 class="hidden-lg center thin">How it works</h2>
                <div class="divider-header-2"></div>
                <div class="row padding-howitworks">
                    <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks">
                        <br>
                        <img class="center solutions-item article-onboarding-2" src="./svg/onboarding-article-2.svg">
                        <h3 class="center visible-xs visible-sm visible-md visible-lg">
                            Data extraction
                        </h3>
                        <p class="center light">
                            With the user's permission, we gather their profiles and extract relevant features.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks">
                        <img class="center solutions-item" src="./svg/whatwedo/5.svg">
                        <br>
                        <h3 class="center visible-xs visible-sm visible-md visible-lg">
                            Machine learning
                        </h3>
                        <p class="center light">
                            Our trained machine learning models analyse this data and calculate the probability that it's credible.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks">
                        <img class="center solutions-item" src="./svg/whatwedo/6.svg">
                        <br>
                        <h3 class="center visible-xs visible-sm visible-md visible-lg">
                            Confidence score
                        </h3>
                        <p class="center light">
                            Based on the calculated credibility probability, you immediately receive a confidence score.
                        </p>
                    </div>
                </div>
                <div class="divider-header-2"></div>
                <div class="center">
                    <a href="./how-it-works.html" class="secondary-button"><b class="darkblue">Learn more</b></a>
                </div>
                <br class="visible-xs">
            </div>
        </div>
    </div>

    <div class="container-fluid divider visible-xs">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 padding-demo box wow animate fadeIn">
                <div class="tl-line">
                </div>
                <h1 class="visible-lg center thin">Videos</h1>
                <h2 class="hidden-lg center thin">Videos</h2>
                <br>
                <p class="light center">
                    Here's what some of our customers say.
                </p>
                <br>
                <br>
                <div class="row">
                    <a class="swipebox-video" href="http://www.youtube.com/watch?v=GZxyRIuo-YU" rel="vimeo">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 box story-video worldpay-video worldpay-video-hover">
                            <div class="story-video-text-big story-video-text-hover">
                                <h3 class="visible-xs visible-sm visible-md visible-lg">
                                    <i class="material-icons icon-position">play_circle_outline</i>
                                    Veridu and Worldpay
                                </h3>
                            </div>
                        </div>
                    </a>
                    <a class="swipebox-video" href="https://www.youtube.com/watch?v=K3j2vgXR2aw" rel="vimeo">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 box story-video about-veridu-video accept-video-hover">
                            <div class="story-video-text-big accept-video-text-hover">
                                <h3 class="visible-xs visible-sm visible-md visible-lg">
                                    <i class="material-icons icon-position">play_circle_outline</i> 
                                    How it works
                                </h3>
                            </div>
                        </div>
                    </a>
                    <a class="swipebox-video" href="https://www.youtube.com/watch?v=T4HiD8Hq4Jc" rel="vimeo">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 box story-video emoov-video about-video-hover">
                            <div class="story-video-text-big about-video-text-hover">
                                <h3 class="visible-xs visible-sm visible-md visible-lg">
                                    <i class="material-icons icon-position">play_circle_outline</i>
                                    Veridu and eMoov
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid wow animate fadeIn divider hidden-xs">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3 box heading-video">
                <h4 class="visible-xs visible-sm visible-md visible-lg white">Videos</h4>
                <p class="maxwidth light solutionsh3 solutionsh3-max white">
                    Here's what some of our customers say.              
                </p>
            </div>
            <a class="swipebox-video" href="http://www.youtube.com/watch?v=GZxyRIuo-YU" rel="vimeo">
                <div class="col-xs-12 col-sm-6 col-lg-3 box story-video worldpay-video worldpay-video-hover">
                    <div class="video-line">
                    </div>
                    <div class="story-video-text story-video-text-hover">
                        <h3 class="visible-xs visible-sm visible-md visible-lg">
                            <i class="material-icons icon-position">play_circle_outline</i> 
                            Veridu and Worldpay
                        </h3>
                    </div>
                </div>
            </a>
            <a class="swipebox-video" href="https://www.youtube.com/watch?v=K3j2vgXR2aw" rel="vimeo">
                <div class="col-xs-12 col-sm-6 col-lg-3 box story-video about-veridu-video about-video-hover">
                    <div class="video-line">
                    </div>
                    <div class="story-video-text about-video-text-hover">
                        <h3 class="visible-xs visible-sm visible-md visible-lg">
                            <i class="material-icons icon-position">play_circle_outline</i> 
                            About Veridu
                        </h3>
                    </div>
                </div>
            </a>
            <a class="swipebox-video" href="https://www.youtube.com/watch?v=T4HiD8Hq4Jc" rel="vimeo">
                <div class="col-xs-12 col-sm-6 col-lg-3 box story-video accept-more-video accept-video-hover">
                    <div class="video-line">
                    </div>
                    <div class="story-video-text accept-video-text-hover">
                        <h3 class="visible-xs visible-sm visible-md visible-lg">
                            <i class="material-icons icon-position">play_circle_outline</i> 
                            Veridu and eMoov
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container-fluid divider">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 box box-quote worldpay-bg wow animate fadeIn">
                <div class="worldpay-line">
                </div>
                <h1 class="center hidden-xs hidden-sm hidden-md visible-lg visible-sm thin darkred">
                    "Veridu empowers our merchants to<br> accept more good transactions"</h1>
                    <h2 class="center hidden-lg thin darkred">
                        "Veridu empowers our merchants to<br> accept more good transactions"</h2>
                        <h3 class="center visible-xs visible-sm visible-md visible-lg light solutionsh3">
                            <b>Helen Holmes</b> - Product Director for Risk Management at Worldpay
                        </h3>
                        <br>
                        <div class="center">
                            <img class="worldpay-logo" src="./img/worldpay_logo.png">
                            <br>
                        </div>
                        <br>
                        <div class="center">
                            <a class="secondary-button swipebox-video" href="http://www.youtube.com/watch?v=GZxyRIuo-YU" rel="vimeo"><i class="material-icons icon-position-button darkred">play_circle_outline</i> <b class="darkred">Watch video</b></a>
                        </div>
                        <br class="visible-xs">
                    </div>
                </div>
            </div>

            <div class="container-fluid wow animate fadeIn divider">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-lg-2 box heading-news">
                        <h4 class="visible-xs visible-sm visible-md visible-lg white">News</h4>
                        <p class="maxwidth light solutionsh3 white">
                            Veridu in the news              
                        </p>
<!--<a href="http://www.mynewsdesk.com/uk/veridu-com">
<p class="visible-xs visible-sm visible-md visible-lg white bottom-section">Newsroom<i class="material-icons">keyboard_arrow_right</i></p>
</a>-->
</div>
<a target="_blank"  href="http://www.telegraph.co.uk/business/sme-home/sharing-economy/">
    <div class="col-xs-6 col-sm-3 col-lg-2 box story-news story-news-1">
        <div class="news-line-1">
            <div class="newsline-1-text">
                <p class="white light">
                    Read more<i class="material-icons">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
        <h3 class="visible-xs visible-sm visible-md visible-lg darkred">
            The Telegraph
        </h3>
        <p class="news-copy light">
            Sharing economy: building trust between consumers and businesses
        </p>
    </div>
</a>
<a target="_blank"  href="http://www.thepaypers.com/digital-identity-security-online-fraud/worldpay-invests-in-digital-identity-startup-veridu/763689-26">
    <div class="col-xs-6 col-sm-3 col-lg-2 box story-news story-news-2">
        <div class="news-line-2">
            <div class="newsline-2-text">
                <p class="white light">
                    Read more<i class="material-icons">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
        <h3 class="visible-xs visible-sm visible-md visible-lg darkred">
            The Paypers
        </h3>
        <p class="news-copy light">
            Online accounts could be suitable evidence for digital identity 
        </p>
    </div>
</a>
<a target="_blank"  href="http://www.propertyindustryeye.com/30325-2/">
    <div class="col-xs-6 col-sm-3 col-lg-2 box story-news story-news-3">
        <div class="news-line-3">
            <div class="newsline-3-text">
                <p class="white light">
                    Read more<i class="material-icons">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
        <h3 class="visible-xs visible-sm visible-md visible-lg darkred">
            Industry Eye
        </h3>
        <p class="news-copy light">
            eMoov launches verification checking service of all viewers 
        </p>
    </div>
</a>
<a target="_blank"  href="http://ecommercenews.eu/worldpay-invests-startup-veridu/">
    <div class="col-xs-6 col-sm-3 col-lg-2 box hidden-xs hidden-sm hidden-md story-news story-news-4">
        <div class="news-line-4">
            <div class="newsline-4-text">
                <p class="white light">
                    Read more<i class="material-icons">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
        <h3 class="visible-xs visible-sm visible-md visible-lg darkred">
            Ecommerce News
        </h3>
        <p class="news-copy light">
            Worldpay and Veridu partner to battle card-not-present fraud.
        </p>
    </div>
</a>
<a target="_blank"  href="http://www.fintech.finance/news/conventional-identity-verification-reaching-the-end/">
    <div class="col-xs-6 col-sm-3 col-lg-2 box hidden-xs hidden-sm hidden-md story-news story-news-5">
        <div class="news-line-5">
            <div class="newsline-5-text">
                <p class="white light">
                    Read more<i class="material-icons">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
        <h3 class="visible-xs visible-sm visible-md visible-lg darkred">
            Fintech Finance
        </h3>
        <p class="news-copy light">
            Conventional identity verification reaching the end.
        </p>
    </div>
</a>
</div>
</div>

<div class="container-fluid divider">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 padding-demo box crypto- wow animate fadeIn">
            <div class="tl-line">
            </div>
            <h1 class="visible-lg center thin">Demos</h1>
            <h2 class="hidden-lg center thin">Demos</h2>
            <br>
            <p class="light center">
                What does Veridu look like through the lens of a customer?
            </p>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks divider">
                    <img class="center solutions-item" src="./svg/creditcard-1.svg">
                    <h3 class="center visible-xs visible-sm visible-md visible-lg">
                        Verified transactions
                    </h3>
                    <p class="center light">
                        Learn how Veridu works in an e-commerce scenario.
                    </p>
                    <div class="divider-4"></div>
                    <div class="center">
                        <a target="_blank"  href="http://demo.veridu.com/payments/" class="secondary-button"><b class="darkblue">Payments</b></a>
                    </div>
                    <div class="divider-header-3"></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks divider">
                    <img class="center solutions-item" src="./svg/onboarding-1.svg">
                    <h3 class="center visible-xs visible-sm visible-md visible-lg">
                        Verified onboarding
                    </h3>
                    <p class="center light">
                        Learn how Veridu can help onboard customers safely.
                    </p>
                    <div class="divider-4"></div>
                    <div class="center">
                        <a target="_blank"  href="http://demo.veridu.com/onboarding/" class="secondary-button"><b class="darkblue">Onboarding</b></a>
                    </div>
                    <div class="divider-header-3"></div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 center story-howitworks divider">
                    <img class="center solutions-item" src="./svg/popupwidget.svg">
                    <h3 class="center visible-xs visible-sm visible-md visible-lg">
                        Pop-up Widget
                    </h3>
                    <p class="center light">
                        Try our ready to use and easily integrated verification widget.
                    </p>
                    <div class="divider-4"></div>
                    <div class="center">
                        <a target="_blank"  href="http://demo.veridu.com/popup-widget/" class="secondary-button"><b class="darkblue">Internet Life</b></a>
                    </div>
                    <div class="divider-header-3"></div>
                </div>
            </div>
            <div class="divider-header-2"></div>
        </div>
    </div>
</div>

<div class=" hidden-xs container-fluid wow animate fadeIn divider">
    <div class="row">
        <div class="col-xs-2 col-sm-4 col-lg-2 box heading-thought-leadership">
            <h4 class="visible-xs visible-sm visible-md visible-lg white">Thought<br>Leadership</h4>
            <p class="maxwidth light solutionsh3 white">
                Whitepapers, surveys, and more on key industry issues.      
            </p>
        </div>
        <a target="_blank"  href="./pdf/Sharing_Economy_Consumer_Views_Survey.pdf">
            <div class="col-xs-12 col-sm-4 col-lg-5 box story-thought-leadership-1">
                <div class="thought-leadership-line-1">
                    <div class="newsline-1-text">
                        <p class="white light">
                            Read Report<i class="material-icons">keyboard_arrow_right</i>
                        </p>
                    </div>
                </div>
    <!--<div class="image-thought-leadership-1">
    </div>-->
    <h3 class="visible-xs visible-sm visible-md visible-lg darkblue padding-thought-leadership">Sharing Economy Consumer Views Report</h3>
    <p class="visible-lg maxwidth-thought-leadership light thought-leaderhip-copy-big">
        Veridu and The People Who Share, surveyed over 850 US and UK consumers on their views of the Sharing Economy.
    </p>
    <p class="hidden-sm hidden-lg maxwidth-thought-leadership light thought-leaderhip-copy padding-thought-leadership">
        Veridu and The People Who Share, surveyed over 850 US and UK consumers on their views of the Sharing Economy.
    </p>
    <p class="visible-sm maxwidth-thought-leadership light thought-leaderhip-copy-small padding-thought-leadership">
        Veridu and The People Who Share, surveyed over 850 US and UK consumers on their views of the Sharing Economy.
    </p>
    </div>
    </a>
    <a target="_blank"  href="http://oixuk.org/wp-content/uploads/2016/07/UseofonlineactivityaspartoftheidentityverificationFINAL-1.pdf">
        <div class="col-xs-12 col-sm-4 col-lg-5 box story-thought-leadership-2">
            <div class="thought-leadership-line-2">
                <div class="newsline-2-text">
                    <p class="white light">
                        Read OIX Report<i class="material-icons">keyboard_arrow_right</i>
                    </p>
                </div>
            </div>
            <h3 class="visible-xs visible-sm visible-md visible-lg darkblue">Use of Online Activity as Part of Identity Verification</h3>
            <p class="visible-lg maxwidth-thought-leadership light thought-leaderhip-copy-big">
                A summary of Veridu's work with the Government Digital Service and the Open Identity Exchange for GOV.UK Verify.
            </p>
            <p class="hidden-sm hidden-lg maxwidth-thought-leadership light thought-leaderhip-copy">
                A summary of Veridu's work with the Government Digital Service and the Open Identity Exchange for GOV.UK Verify.
            </p>
            <p class="visible-sm maxwidth-thought-leadership light thought-leaderhip-copy-small padding-thought-leadership">
                A summary of Veridu's work with the Government Digital Service and the Open Identity Exchange for GOV.UK Verify.
            </p>
        </div>
    </a>
    </div>
</div>

<div class=" visible-xs container-fluid divider">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 box survey- box-tl wow animate fadeIn">
            <div class="tl-line">
            </div>
            <h1 class="visible-lg center thin">Thought Leadership</h1>
            <h2 class="hidden-lg center thin">Thought Leadership</h2>
            <br>
            <p class="light solutionsh3 center light">
                Whitepapers, surveys, and more on key industry issues.          
            </p>
            <br>
            <div class="container-fluid">
                <div class="row padding-thoughtleadership">
                    <div class="col-xs-12 col-sm-6 col-lg-6 center story-tl divider">
                        <img class="center solutions-item" src="./svg/survey.svg">
                        <h3 class="center solutionsh3">
                            Sharing Economy Consumer Views Report
                        </h3>
                        <p class="center light">
                            Veridu and The People Who Share, surveyed over 850 US and UK consumers on their views of the Sharing Economy.
                        </p>
                        <br>
                        <div class="center">
                            <a target="_blank"  href="./pdf/Sharing_Economy_Consumer_Views_Survey.pdf" class="secondary-button"><b class="darkblue">Download</b></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 center story-tl divider">
                        <img class="center solutions-item" src="./svg/oix-raport.svg">
                        <h3 class="center solutionsh3">
                            Use of Online Activity as Part of Identity Verification
                        </h3>
                        <p class="center light">
                            A summary of Veridu's work with the Government Digital Service and the Open Identity Exchange for GOV.UK Verify.
                        </p>
                        <br>
                        <div class="center">
                            <a target="_blank"  href="http://oixuk.org/wp-content/uploads/2016/07/UseofonlineactivityaspartoftheidentityverificationFINAL-1.pdf" class="secondary-button"><b class="darkblue">Download</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid divider">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 box box-newsletter2 wow animate fadeIn bridge">
            <div class="tl-line">
            </div>
            <h1 class="visible-lg center thin">Get in touch</h1>
            <h2 class="hidden-lg center thin">Get in touch</h2>
            <div class="divider-header-3"></div>
            <p class="light center">
                Speak to us about Veridu for your business
            </p>
            <div class="divider-header-3"></div>
            <div class="newsletter-box-contact-small visible-xs">
                <form id="drip-contact-form"  class="form-horizontal" role="form" action="https://www.getdrip.com/forms/8370268/submissions" method="post" data-drip-embedded-form="8370268" target="_blank">
                    <div class="group">
                        <input name="fields[first_name]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[first_name]">First Name</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[last_name]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[last_name]">Last Name</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[company_name]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[company_name]">Company</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[job_title]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[job_title]">Job Title</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[email]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[email]">Email</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[telephone]" type="text" placeholder="" class="" 
                        value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[telephone]">Phone</label>
                    </div>
                    <br>
                    <div class="group">
                        <input name="fields[tell_us_more]" type="text" placeholder="" class="" value="" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="fields[tell_us_more]">What can we do for you?</label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" ng-click="App.submitContactUs()" name="Submit" value="Send" class="secondary-button send-button-maxwidth center">
                </form>
                <br>
            </div>
            <div class="newsletter-box-contact-big hidden-xs">
                <form id="drip-contact-form"  class="form-horizontal" role="form" action="https://www.getdrip.com/forms/8370268/submissions" method="post" data-drip-embedded-form="8370268" target="_blank">
                    <div class="row contact-form-padding">
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <div class="group">
                                <input name="fields[first_name]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>First Name</label>
                            </div>
                            <div class="divider-4"></div>
                            <div class="group">
                                <input name="fields[telephone]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Phone</label>
                            </div>
                            <div class="divider-4"></div>
                            <div class="group">
                                <input name="fields[company_name]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Company</label>
                            </div>
                            <div class="divider-4"></div>
                            <div class="group">
                                <input name="fields[tell_us_more]]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>What can we do for you?</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4">
                            <div class="group">
                                <input name="fields[last_name]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Last Name</label>
                            </div>
                            <div class="divider-4"></div>
                            <div class="group">
                                <input name="fields[email]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email</label>
                            </div>
                            <div class="divider-4"></div>
                            <div class="group">
                                <input name="fields[job_title]" type="text" placeholder="" class="" value="" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Job Title</label>
                            </div>
                        </div>
                    </div>
                    <div class="divider-header-5"></div>
                    <input type="submit" ng-click="App.submitContactUs()" name="Submit" value="Send" class="secondary-button send-button-maxwidth center">
                </form>
            </div>
        </div>
    </div>
</div>
