---
layout: default
class: index landing
---
<div class="video-overlay" onclick="hideVideo()">
    <div>
        <div class="v-container">
            <div class="player-container">
                <img id="play-button" src="img/play.png" alt="play">
                <div id="youtube-player"></div>
                <div class="close-ct">
                    <span onclick="hideVideo()"><i class="material-icons">&#xE5CD;</i> <span class="close-label">Close</span> </span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="landing-section">
    <div class="landing__overlay"></div>
    <div class="landing-content">
        <div class="">
            <div class="slick-carousel" id="landing-carousel">
                <div >
                    <h1 class="title-sm">
                        Know Your Costumer
                    </h1>
                    <p>
                        You can have it all. Robust identity verification globally, <br>
                        fewer declined transactions and an improved user experience.
                    </p>
                </div>

                <div>
                    <h1 class="title-sm">
                        Know Your Peer
                    </h1>
                    <p>
                        A trusting community is a sharing community. Drive engagement <br>
                        in your community by letting members proactively showcase their <br>
                        credibility and trustworthiness.
                    </p>
                </div>

                <div>
                    <h1 class="title-sm">
                        Know Your Candidate
                    </h1>
                    <p>
                        Rise above the competition. Enhance your candidate vetting <br>
                        and be confident that you always put forward the most suitable <br>
                        person for the job.
                    </p>
                </div>

                <div>
                    <h1 class="title-sm">
                        Know Your Tenant
                    </h1>
                    <p>
                        Don't be a stranger. Create trust between property owners and viewers <br>
                        before they even meet with pre-vetting solutions that establish identity <br>
                        and credibility.

                    </p>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="integration-container">

    <div class="v-container">
        <h4>Connect to try it yourself</h4>
        <div class="v-row">
            <div class="buttons-container">
                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('facebook')" ng-class="{ active : App.user.auth.facebook, loading: App.Widget.state == 'SCRAPING' && App.loading == 'facebook'}">
                        <span>Facebook</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('linkedin')" ng-class="{ active : App.user.auth.linkedin, loading: App.Widget.state == 'SCRAPING' && App.loading == 'linkedin'}">
                        <span>LinkedIn</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>


                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('google')" ng-class="{ active : App.user.auth.google, loading: App.Widget.state == 'SCRAPING' && App.loading == 'google'}">

                        <span>Google</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('twitter')" ng-class="{ active : App.user.auth.twitter, loading: App.Widget.state == 'SCRAPING' && App.loading == 'twitter'}">
                        <span>Twitter</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('twitter')" ng-class="{ active : App.user.auth.twitter, loading: App.Widget.state == 'SCRAPING' && App.loading == 'twitter'}">
                        <span>Twitter</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg" ng-click="App.auth('twitter')" ng-class="{ active : App.user.auth.twitter, loading: App.Widget.state == 'SCRAPING' && App.loading == 'twitter'}">
                        <span>Twitter</span>
                        <div class="spinner">
                            <div class="spinner-wrapper">
                                <div class="rotator">
                                    <div class="inner-spin"></div>
                                    <div class="inner-spin"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>

            </div>

        </div>

        <div class="terms-of-use">By using this service you accept our <a class="white-link" href="https://veridu.com/wiki/Terms_%26_Conditions" target="_blank" >terms of use</a></div>
    </div>
    <!-- <a ng-hide="showHiddenIntegrations" class="black-link" href="javascript:;" ng-click="showHiddenIntegrations = true" ><span class="visible-xs"></span> MORE OPTIONS</a> -->
</section>


<section class="veridu-list md-cards">
    <div class="row-md">
        <div class="item-container">
            <div  ng-class="App.partnerIndex == 0  ? 'vis' : 'inv'">
                <h3>FRICTIONLESS ONBOARDING</h3>
                <p>Conduct frictionless and cost-effective identity verification globally, even in high risk markets.</p>
            </div>
            <div  ng-class="App.partnerIndex == 1  ? 'vis' : 'inv'">
                <h3>TRUST</h3>
                <p>Break down trust barriers show your commitment to keeping your members and their possessions safe.</p>
            </div>
            <div  ng-class="App.partnerIndex == 2  ? 'vis' : 'inv'">
                <h3>IDENTIFY FRAUD</h3>
                <p>Conduct frictionless and cost-effective identity verification globally, even in high risk markets.</p>
            </div>
            <div  ng-class="App.partnerIndex == 3  ? 'vis' : 'inv'">
                <h3>SAFETY</h3>
                <p>Be proactive about safety and require sellers, landlords and viewers to verify their identity before viewings.</p>
            </div>

        </div>

        <div class="item-container">

            <div  ng-class="App.partnerIndex == 0  ? 'vis' : 'inv'">
                <h3>REDUCE FALSE POSITIVES</h3>
                <p>Reduce false positive declines and recover transactions that your risk rules would normally decline.</p>
            </div>

            <div  ng-class="App.partnerIndex == 1  ? 'vis' : 'inv'">
                <h3>AUTOMATION</h3>
                <p>Stay focused on your core business by automating the onboarding process and reducing time spent on manual reviews.</p>
            </div>

            <div  ng-class="App.partnerIndex == 2  ? 'vis' : 'inv'">
                <h3>VETTED</h3>
                <p>Conduct robust vetting of CVs wherever a candidate has studied or worked.</p>
            </div>

            <div  ng-class="App.partnerIndex == 3  ? 'vis' : 'inv'">
                <h3>TRUST</h3>
                <p>Build trust in your business by allowing customers to showcase their credibility with a visible badge.</p>
            </div>
        </div>

        <div class="item-container">
            <div  ng-class="App.partnerIndex == 0  ? 'vis' : 'inv'">
                <h3>SPEND LESS</h3>
                <p>Spend less time and money on fraud reviews with better tools and user insight.</p>
            </div>
            <div  ng-class="App.partnerIndex == 1  ? 'vis' : 'inv'">
                <h3>FRICTIONLESS ONBOARDING</h3>
                <p>Eliminate friction in the user experience to encourage more members onto your platform and drive engagement.</p>
            </div>
            <div  ng-class="App.partnerIndex == 2  ? 'vis' : 'inv'">
                <h3>AUTOMATE</h3>
                <p>Focus your efforts on bringing new clients onboard, not manually onboarding candidates.</p>
            </div>
            <div  ng-class="App.partnerIndex == 3  ? 'vis' : 'inv'">
                <h3>KNOW YOUR CUSTOMER</h3>
                <p>Know more about your customers for less - social identity solutions offer unrivalled insight at a lower price point.</p>
            </div>
        </div>

    </div>
</section>

<section class="partners-quotes">

    <div class="v-container">
        <div class="slick-carousel" id="partners-carousel" >
            <div>
                <q>Over half our users have verified themselves with Veridu, dramatically increasing the safety and reliability of our service.</q>
                <div class="author">
                    CTO, Faadetgjort
                </div>
            </div>
            <div>
                <q>Veridu rocks! Especially for our customers who sell high value goods online. The team has been beyond helpful and responsive to our needs.</q>
                <div class="author">
                    CEO, SimpleShop
                </div>
            </div>
            <div>
                <q>It’s simple: Veridu enables trust. More trust means more transactions and ultimately more revenue.</q>
                <p class="author">
                    CTO, Ahandyhand
                </p>
            </div>
        </div>
    </div>
</section>

<section class="rasmus-quote">
    <div class="rasmus-quote__overlay"></div>
    <div class="rasmus-quote__content">
        <div class="row-md">
            <h4>"We bring trust to <br class="hidden-xs"> the internet"</h4>
            <p>
                Rasmus Groth,
                CEO, VERIDU
            </p>
            <div onclick="showVideo()" class="player-container"></div>
        </div>
    </div>
</section>


<script>

var imageAddr = "img/city.jpeg";
var downloadSize = 271891; //bytes

window.onload = function() {
    window.setTimeout(MeasureConnectionSpeed, 1);
};

function MeasureConnectionSpeed() {
    var oProgress = document.getElementById("progress");
    var startTime, endTime;
    var download = new Image();

    download.onload = function () {
        endTime = (new Date()).getTime();
        showResults();
    }

    download.onerror = function (err, msg) {
        console.warn('error measuring connection speed');
    }

    startTime = (new Date()).getTime();
    var cacheBuster = "?nnn=" + startTime;
    download.src = imageAddr + cacheBuster;

    function showResults() {
        var duration = (endTime - startTime) / 1000;
        var bitsLoaded = downloadSize * 8;
        var speedBps = (bitsLoaded / duration).toFixed(2);
        var speedKbps = (speedBps / 1024).toFixed(2);
        var speedMbps = (speedKbps / 1024).toFixed(2);
        console.warn(speedKbps);

        if (speedKbps < 500) {
            var landingSection = document.querySelector('.landing-section');
            var videos = document.querySelectorAll('.landing-section video');

            for (var i = 0; i < videos.length; ++i) {
              landingSection.removeChild(videos[i]);
            }

        }

    }

}
</script>


<script type="text/javascript" src="javascript/index.js"></script>