<div class="fixed-contact__container">
	<form action="/" id="fixed-contact-form" method="POST">
		<div class="fixed-contact__input-container">
			<input id="fixed-contact__input"  type="text" placeholder="Type your email and we'll contact you">
			<span class="text-danger">The email provided must be valid.</span>
		</div>
		<button type="submit" id="fixed-contact__button" class="btn btn-primary">
			<i class="material-icons hideable">&#xE0E1;</i>
			<span class="fixed-contact__label hideable">Get in touch</span>
			<span class="fixed-contact__thank-you animated fadeIn">Thank you! We will get in touch soon!</span>
		</button>
	</form>
</div>
<div id="mobile-indicator" class="visible-xs"></div>
<footer>
	<div>
		<section>
			<h6><a class="black-link" href="solutions.html">SOLUTIONS</a></h6>
			<ul class="list-unstyled" id="footer-solutions">
				<li>
					<a data-scrollTo="#sectors" href="solutions.html#sectors">Sectors</a>
				</li>
				<li>
					<a data-scrollTo="#clients-partners" href="solutions.html#clients-partners">Clients & Partners</a>
				</li>
				<li>
					<a data-scrollTo="#integration-section" href="solutions.html#integration">Integration</a>
				</li>
			</ul>
		</section>


		<section>
			<h6>INTEGRATION</h6>
			<ul class="list-unstyled">
				<li>
					<a href="https://veridu.com/wiki/Category:API" target="_blank">API</a>

				</li>
				<li>
					<a href="https://veridu.com/wiki/Category:SDK" target="_blank">SDKs</a>
				</li>
				<li>
					<a href="https://veridu.com/wiki/Widget_Library" target="_blank">Widgets</a>
				</li>
				<li>
					<a href="https://veridu.com/wiki/Veridu_ID_Gateway" target="_blank">Gateway</a>
				</li>
				<li>
					<a href="web.html">Web</a>
				</li>
				<li>
					<a href="mobile.html">Mobile</a>
				</li>
			</ul>
		</section>

		<section>
			<h6>DOWNLOAD</h6>
			<ul class="list-unstyled">
				<li><a href="white-papers.html">White papers</a></li>
				<li><a href="infographics.html">Infographics</a></li>
				<li><a href="brand-assets.html">Brand assets</a></li>
				<li><a href="brochures.html">Brochures</a></li>
			</ul>
		</section>

		<section>
			<h6>LEGAL</h6>
			<ul class="list-unstyled">
				<li><a href="https://veridu.com/wiki/Terms_%26_Conditions" target="_blank">Terms & Conditions</a></li>
				<li><a href="https://veridu.com/wiki/Veridu:Privacy_policy" target="_blank">Privacy Policy</a></li>
				<li><a href="https://veridu.com/wiki/Service_Level_Agreement" target="_blank">Service Level Agreement</a></li>
				<li><a href="https://veridu.com/wiki/Security_Procedures" target="_blank">Security Procedures</a></li>
			</ul>
		</section>

		<section>
			<h6>CONTACT</h6>
			<ul class="list-unstyled">
				<li><a href="contact.html">Contact us</a></li>
				<li><a href="press-room.html">Press room</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="sales.html">Sales</a></li>
				<li><a href="careers.html">Careers</a></li>
			</ul>
		</section>

		<section>
			<h6>FOLLOW</h6>
			<ul class="list-unstyled">
				<li><a href="https://www.linkedin.com/company/veridu-com" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/Veridu-284382595032517/" target="_blank">Facebook</a></li>
				<li><a href="https://angel.co/veridu" target="_blank">Angellist</a></li>
			</ul>
		</section>
	</div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="bower_components/wow/dist/wow.min.js"></script>
<script type="text/javascript" src="https://assets.veridu.com/0.3/sdk/veridu.min.js"></script>
<script type="text/javascript" src="https://assets.veridu.com/0.3/sdk/veridu-ui.min.js"></script>
<script type="text/javascript" src="https://veridu.com/integration/cfg.js"></script>


<!-- App -->
<script type="text/javascript">

	var app = angular.module('app', []).config(function($interpolateProvider){
		$interpolateProvider.startSymbol('({').endSymbol('})');
	});

	// making them injectable so I can work with multiple assets files without needing PHP info
	app.factory('Veridu', function () {
		return new Veridu(VERIDU);
	});


	app.factory('VeriduUI', function () {
		return VeriduUI;
	});

	app.service('Auth', function () {
		return {
			username: VERIDU.username
		}
	});

</script>

<script type="text/javascript" src="javascript/main.js"></script>
<script type="text/javascript" src="javascript/widget.factory.js"></script>

<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '6038086';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/6038086.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
