{% if page.class != "contact-page" %}

<div class="contact-section-container">
	<section class="contact veridu-list">
		<div>
			<h2 class="font-light">Contact us</h2>

			<form  class="form-horizontal" role="form" action="https://www.getdrip.com/forms/8370268/submissions" method="post" data-drip-embedded-form="8370268" ng-submit="ctrl.sendContact()" target="_blank">
				<div class="input-container">
					<input ng-model="ctrl.contact.first_name" name="fields[first_name]" type="text" placeholder="First Name" >
				</div>

				<div class="input-container">
					<input ng-model="ctrl.contact.last_name" name="fields[last_name]" type="text" placeholder="Last Name">
				</div>
				<div class="clearfix hidden-xs"></div>
				<div class="input-container">
					<input ng-model="ctrl.contact.company" name="fields[company]" type="text" placeholder="Company" >
				</div>

				<div class="input-container">
					<input ng-model="ctrl.contact.job_title" name="fields[job_title]" type="text" placeholder="Job Title">
				</div>
				<div class="hidden-xs"></div>

				<div class="input-container ">
					<input ng-model="ctrl.contact.email"  name="fields[email]" type="email" placeholder="Email">
				</div>

				<div class="input-container ">
					<input ng-model="ctrl.contact.phone" class="half"  name="fields[telephone]" type="text" placeholder="Telephone">
				</div>
				<div class="clearfix hidden-xs"></div>

				<div class="input-container message">
					<textarea rows="5" ng-model="ctrl.contact.message" name="fields[tell_us_more]" type="text" placeholder="Message"></textarea>
				</div>

				<div class="input-container text-right submit">
					<button type="submit" class="btn btn-primary btn-primary--text-white">Submit</button>
				</div>
			</form>

		</div>
	</section>
</div>
{% endif %}

<div class="fixed-contact__container">
	<form action="https://www.getdrip.com/forms/8939167/submissions" id="fixed-contact-form" method="post" data-drip-embedded-form="8939167" target="_blank">
		<div class="fixed-contact__input-container">
			<input id="fixed-contact__input" type="email" placeholder="Type your email and we'll contact you" name="fields[email]" value="" />
			<span class="text-danger">The email provided must be valid.</span>
		</div>
		<button type="submit" id="fixed-contact__button" class="btn btn-primary" data-drip-attribute="sign-up-button">
			<i class="material-icons hideable">&#xE0E1;</i>
			<span class="fixed-contact__label hideable">Get in touch</span>
			<span class="fixed-contact__thank-you animated fadeIn">Thank you! We will get in touch soon!</span>
		</button>
	</form>
</div>

<div id="mobile-indicator" class="visible-xs"></div>
<footer>
	<div>
		<section>
			<h6><a class="black-link" href="solutions.html">SOLUTIONS</a></h6>
			<ul class="list-unstyled" id="footer-solutions">
				<li>
					<a data-scrollTo="#sectors" href="solutions.html#sectors">Sectors</a>
				</li>
				<li>
					<a data-scrollTo="#clients-partners" href="solutions.html#clients-partners">Clients & Partners</a>
				</li>
				<li>
					<a data-scrollTo="#integration-section" href="solutions.html#integration-section">Integration</a>
				</li>
			</ul>
		</section>


		<section>
			<h6>INTEGRATION</h6>
			<ul class="list-unstyled">
				<li><a href="https://veridu.com/wiki/Category:API" target="_blank">API</a></li>
				<li><a href="https://veridu.com/wiki/Category:SDK" target="_blank">SDKs</a></li>
				<li><a href="https://veridu.com/wiki/Widget_Library" target="_blank">Widgets</a></li>
				<li><a href="https://veridu.com/wiki/Veridu_ID_Gateway" target="_blank">Gateway</a></li>
				<!-- <li><a href="web.html">Web</a></li> -->
				<!-- <li><a href="mobile.html">Mobile</a> -->
				</li>
			</ul>
		</section>

		<section>
			<h6>ASSETS</h6>
			<ul class="list-unstyled">
				<!-- <li><a href="white-papers.html">White papers</a></li> -->
				<!-- <li><a href="infographics.html">Infographics</a></li> -->
				<li><a href="http://demo.veridu.com/0.3/verification/standard" target="_blank">Challenge Demo</a></li>
				<li><a href="http://demo.veridu.com/0.3/sso/standard" target="_blank">SSO+ Demo</a></li>
				<li><a href="https://veridu.com/gateway/1.0/hrdemo" target="_blank">HR Demo</a></li>
				<li><a href="http://demo.veridu.com/" target="_blank">All Demos</a></li>
				<li><a href="https://veridu.com/identity/" target="_blank">Brand assets</a></li>
				<!-- <li><a href="brochures.html">Brochures</a></li> -->
			</ul>
		</section>

		<section>
			<h6>LEGAL</h6>
			<ul class="list-unstyled">
				<li><a href="https://veridu.com/wiki/Terms_%26_Conditions" target="_blank">Terms & Conditions</a></li>
				<li><a href="https://veridu.com/wiki/Veridu:Privacy_policy" target="_blank">Privacy Policy</a></li>
				<li><a href="https://veridu.com/wiki/Service_Level_Agreement" target="_blank">Service Level Agreement</a></li>
				<li><a href="https://veridu.com/wiki/Security_Procedures" target="_blank">Security Procedures</a></li>
			</ul>
		</section>

		<section>
			<h6>CONTACT</h6>
			<ul class="list-unstyled">
				<li><a href="/contact.html">Contact Us</a></li>
				<li><a href="http://www.mynewsdesk.com/uk/veridu-com" target="_blank">Press room</a></li>
				<li><a href="https://podio.com/webforms/13289382/902973" target="_blank">Support</a></li>
				<li><a href="mailto:sales@veridu.com">Sales</a></li>
				<li><a href="mailto:jobs@veridu.com">Careers</a></li>
			</ul>
		</section>

		<section>
			<h6>FOLLOW</h6>
			<ul class="list-unstyled">
				<li><a href="https://www.linkedin.com/company/veridu-com" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/Veridu-284382595032517/" target="_blank">Facebook</a></li>
				<li><a href="https://angel.co/veridu" target="_blank">Angellist</a></li>
				<li><a href="https://veridu.com/blog/" target="_blank">Blog</a></li>
			</ul>
		</section>
	</div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js"></script>
<script type="text/javascript" src="bower_components/wow/dist/wow.min.js"></script>
<script type="text/javascript" src="https://assets.veridu.com/0.3/sdk/veridu.min.js"></script>
<script type="text/javascript" src="https://assets.veridu.com/0.3/sdk/veridu-ui.min.js"></script>
<script type="text/javascript" src="https://veridu.com/integration/cfg.js"></script>
<script src="node_modules/slick-carousel/slick/slick.js"></script>

<!-- App -->
<script type="text/javascript">

	$('.slick-carousel').slick({
		dots: true,
		speed: 500,
		prevArrow: '<a class="nav-prev"  href="javascript:;"><i class="material-icons">&#xE5C4;</i></a>',
		nextArrow: '<a class="nav-next"  href="javascript:;"><i class="material-icons">&#xE5C8;</i></a>'
	});

	if (! window.VERIDU) {
		window.VERIDU = {
			client: '4a7c7fecb825828469207438292ddbfbdad85361',
		    session: 'abce9dd966413e0963b31779a4b648aed63ef64d3fb5ead720f65ed156883700',
		    version: '0.3',
		    username: '859d3d20de4db03c9834',
		    success: true
		};
	}

	var app = angular.module('app', ['ngTouch']).config(function($interpolateProvider){
		$interpolateProvider.startSymbol('({').endSymbol('})');
	});

	// making them injectable so I can work with multiple assets files without needing PHP info
	app.factory('Veridu', function () {
		return new Veridu(VERIDU);
	});


	app.factory('VeriduUI', function () {
		return VeriduUI;
	});

	app.service('Auth', function () {
		return {
			username: VERIDU.username
		}
	});

</script>

<script type="text/javascript" src="javascript/main.js"></script>
<script type="text/javascript" src="javascript/widget.factory.js"></script>

<script type="text/javascript">

	if (window.location.hostname && window.location.hostname.indexOf('localhost') == -1) {

		// getdrip
		var _dcq = _dcq || [];
		var _dcs = _dcs || {};
		_dcs.account = '6038086';

		(function() {
			var dc = document.createElement('script');
			dc.type = 'text/javascript'; dc.async = true;
			dc.src = '//tag.getdrip.com/6038086.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(dc, s);
		})();


		// google analytics
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-47899661-1', 'auto');
	    ga('send', 'pageview');
	}

</script>
