<header class="header {{ page.class }}" role="banner">
	<nav class="nav">

		<div class="menu">
			<div class="menu-content">
				<span class="logo">
					<a href="./"><img class="veridu-img" src="img/veridu.png"></a>
					<a href="./"><img class="id-img" src="img/id.png"></a>
				</span>
				<div class="menu__links__md menu__links__md--left collapsibleItem">

					<ul class="list-inline list-unstyled">
						<li>
							<a href="solutions.html">SOLUTIONS</a>
						</li>
						<li>
							<a href="https://veridu.com/price-calculator/" target="_blank">PRICING</a>
						</li>
					</ul>
				</div>

				<div class="menu__links__md menu__links__md--right ">
					<ul class="list-inline list-unstyled">
						<li class="collapsibleItem">
							<a href="https://veridu.com/wiki/Knowledge_Center" target="_blank">KNOWLEDGE CENTER</a>
						</li>
						<li >
							<a class="sign-in-link" href="https://veridu.com/dashboard" target="_blank">Dashboard</a>
						</li>
						<!-- <li>
							<a onclick="event.preventDefault(); $('.signin__container--sm').toggleClass('visible')" class="sign-in-link" href="#">SIGN IN</a>
						</li> -->
					</ul>
				</div>

				<span class="current-state collapsible">
					<ul id="solutions-submenu" class="solutions-submenu">
						<li>
							<a  id="solutions-curent-position" href="#">SECTORS</a>
						</li>
						<li>
							<a id="submenu-sectors" class="active" data-scrollTo="#sectors" href="#sectors">SECTORS</a>
						</li>
						<li>
							<a id="submenu-clients-partners" data-scrollTo="#clients-partners" href="#clients-partners">CLIENTS & PARTNERS</a>
						</li>
						<li>
							<a id="submenu-integration" data-scrollTo="#integration" href="#integration">INTEGRATION</a>
						</li>
					</ul>

				</span>
				<div class="signin__container--sm">
					<div class="signin__container__integrations">
						<div>
							<button ng-click="App.auth('facebook')" ng-class="{active : App.user.auth.facebook}" type="button" class="btn btn-primary">
								Facebook
							</button>
						</div>
						<div>
							<button ng-click="App.auth('linkedin')" ng-class="{active : App.user.auth.linkedin}" type="button" class="btn btn-primary">
								LinkedIn
							</button>
						</div>
						<div>
							<button ng-click="App.auth('google')" ng-class="{active : App.user.auth.google}" type="button" class="btn btn-primary">
								Google
							</button>
						</div>
						<div>
							<button ng-click="App.auth('paypal')" ng-class="{active : App.user.auth.paypal}" type="button" class="btn btn-primary">
								Paypal
							</button>
						</div>
						<div>
							<button ng-click="App.auth('spotify')" ng-class="{active : App.user.auth.spotify}" type="button" class="btn btn-primary">
								Spotify
							</button>
						</div>
						<div>
							<button ng-click="App.auth('instagram')" ng-class="{active : App.user.auth.instagram}" type="button" class="btn btn-primary">
								Instagram
							</button>
						</div>

						<!-- <div class="signin__container__integrations--veridu">
							<input type="text" placeholder="Email">
							<input type="password" placeholder="Password">
							<div>
								<button type="button" class="btn btn-primary">Go</button>
							</div>
						</div> -->
					</div>
				</div>

			</div>
			<div class="toggler-container">
				<i class="icon-menu" id="menu-toggler"></i>
			</div>
		</div>

		<div class="dropdown-menu">
			<div class="dropdown-menu__contents">
				<div class="sign-in-container">
					<div>
						<h4 class="signin"  onclick="$('.signin-component-xs').toggleClass('visible')">Sign in</h4>
					</div>
					<div class="signin-component-xs">
						<div class="integrations-container">
							<div>
								<button ng-click="App.auth('facebook')" ng-class="{active : App.user.auth.facebook}" type="button" class="btn btn-primary">
									Facebook
								</button>
							</div>
							<div>
								<button  ng-click="App.auth('linkedin')" ng-class="{active : App.user.auth.linkedin}" type="button" class="btn btn-primary">
									LinkedIn
								</button>
							</div>
							<div>
								<button ng-click="App.auth('google')" ng-class="{active : App.user.auth.google}" type="button" class="btn btn-primary">
									Google
								</button>
							</div>
							<div>
								<button ng-click="App.auth('paypal')" ng-class="{active : App.user.auth.paypal}" type="button" class="btn btn-primary">
									Paypal
								</button>
							</div>
						</div>
<!--
						<div class="veridu-signin">
							<input type="text" placeholder="Email">
							<input type="password" placeholder="Password">
							<div>
								<button type="button" class="btn btn-primary">Go</button>
							</div>
						</div> -->
					</div>
				</div>

				<a class="black-link" href="solutions.html"><h4>Solutions</h4></a>
				<ul>
					<li><a data-scrollTo="#sectors" href="solutions.html#sectors">SECTORS</a></li>
					<li><a data-scrollTo="#clients-partners" href="solutions.html#clients-partners">CLIENTS&nbsp;&&nbsp;PARTNERS</a></li>
					<li><a data-scrollTo="#integration-section" href="solutions.html#integration">INTEGRATION</a></li>
				</ul>

				<a class="black-link" href="https://veridu.com/price-calculator/">
					<h4>Pricing</h4>
				</a>

				<h4><a href="https://veridu.com/wiki/Knowledge_Center" target="_blank">Knowledge Center</a></h4>
			</div>
		</div>

	</nav>
</header>
