<header class="header {{ page.class }}" role="banner">
	<nav class="nav">

		<div class="menu">
			<div class="menu-content">
				<span class="logo">
					<a href="/"><img class="veridu-img" src="/img/veridu.png"></a>
					<a href="/"><img class="id-img" src="/img/id.png"></a>
				</span>
				<div class="menu__links__md menu__links__md--left">

					<ul class="list-inline list-unstyled">
						<li>
							<a href="/solutions.html">SOLUTIONS</a>
						</li>
						<li>
							<a href="/pricing.html">PRICING</a>
						</li>
					</ul>
				</div>

				<div class="menu__links__md menu__links__md--right ">
					<ul class="list-inline list-unstyled">
						<li>
							<a href="/solutions.html">KNOWLEDGE CENTER</a>
						</li>
						<li>
							<a class="sign-in-link" href="/pricing.html">SIGN IN</a>
						</li>
					</ul>
				</div>

				<span class="current-state">
					<ul class="pricing-submenu">
						<li>
							<a id="pricing-curent-position" href="#"><i class="icon-caret-right"></i>ONBOARDING</a>
						</li>
						<li>
							<a data-scrollTo="#ONBOARDING" href="#ONBOARDING"><i class="icon-caret-right"></i> ONBOARDING</a>
						</li>
						<li>
							<a data-scrollTo="#VERIFICATIONS" href="#VERIFICATIONS"><i class="icon-caret-right"></i> VERIFICATIONS</a>
						</li>
						<li>
							<a data-scrollTo="#CREDIBILITY" href="#CREDIBILITY"><i class="icon-caret-right"></i> CREDIBILITY</a>
						</li>
						<li>
							<a data-scrollTo="#INSIGHT" href="#INSIGHT"><i class="icon-caret-right"></i> INSIGHT</a>
						</li>
						<li>
							<a data-scrollTo="#DISCOUNTS" href="#DISCOUNTS"><i class="icon-caret-right"></i> DISCOUNTS</a>
						</li>
						<li>
							<a data-scrollTo="#CONTACT" href="#CONTACT"><i class="icon-caret-right"></i> CONTACT</a>
						</li>
					</ul>
					<ul class="solutions-submenu">
						<li>
							<a id="solutions-curent-position" href="#"><i class="icon-caret-right"></i>SECTORS</a>
						</li>
						<li>
							<a data-scrollTo="#sectors" href="#sectors"><i class="icon-caret-right"></i>SECTORS</a>
						</li>
						<li>
							<a data-scrollTo="#clients-partners" href="#clients-partners"><i class="icon-caret-right"></i>CLIENTS & PARTNERS</a>
						</li>
					</ul>

				</span>
			</div>
			<div class="toggler-container">
				<i class="icon-menu" id="menu-toggler"></i>
			</div>
		</div>

		<div class="dropdown-menu">

			<div class="sign-in-container">
				<div>
					<button class="btn btn-primary btn-lg">Sign in</button>
				</div>
				<div>
					<form>
					</form>
				</div>
			</div>

			<a class="black-link" href="/solutions.html"><h4>Solutions</h4></a>
			<ul>
				<li><a href="/solutions.html#sectors">SECTORS</a></li>
				<li><a href="/clients-and-partners.html">CLIENTS&nbsp;&&nbsp;PARTNERS</a></li>
				<li>USE CASES</li>
				<li>INTEGRATION</li>
			</ul>

			<a class="black-link" href="/pricing.html"><h4>Pricing</h4></a>
			<ul>
				<li>TEMPLATES</li>
				<li><a data-scrollTo="#VERIFICATIONS" href="/pricing.html#VERIFICATIONS">VERIFICATIONS</a></li>
				<li>SCORES</li>
				<li>WARNINGS</li>
				<li><a data-scrollTo="#DISCOUNTS" href="/pricing.html#DISCOUNTS">DISCOUNTS</a></li>
				<li>SERVICE</li>
			</ul>

			<h4>Knowledge Center</h4>

		</div>

	</nav>

	<!-- <nav class="navbar">
		<ul >
			<li>
				<a href="/about.html">
					<i class="icon icon-chevron-down"></i> SECTORS
				</a>
			</li>
			<li>
				<a href="/about.html">
					<i class="icon icon-chevron-down"></i> CLIENTS & PARTNERS
				</a>
			</li>
			<li>
				<a  href="/contact.html">
					<i class="icon icon-chevron-down"></i> USE CASES
				</a>
			</li>
			<li>
				<a  href="/">
					<i class="icon icon-chevron-down"></i> INTEGRATION
				</a>
			</li>
		</ul>
	</nav>
 -->

</header>
