<header class="header {{ page.class }}" role="banner">
	<nav class="nav">

		<div class="menu">
			<div class="menu-content">
				<span class="logo">
					<a href="/"><img class="veridu-img" src="/img/veridu.png"></a>
					<a href="/"><img class="id-img" src="/img/id.png"></a>
				</span>
				<div class="menu__links__md menu__links__md--left">

					<ul class="list-inline list-unstyled">
						<li>
							<a href="/solutions.html">SOLUTIONS</a>
						</li>
						<li>
							<a href="https://veridu.com/pricing" target="_blank">PRICING</a>
						</li>
					</ul>
				</div>

				<div class="menu__links__md menu__links__md--right ">
					<ul class="list-inline list-unstyled">
						<li>
							<a href="https://veridu.com/wiki/Knowledge_Center" target="_blank">KNOWLEDGE CENTER</a>
						</li>
						<li>
							<a onclick="event.preventDefault(); $('.signin__container--sm').toggleClass('visible')" class="sign-in-link" href="#">SIGN IN</a>
						</li>
					</ul>
				</div>

				<span class="current-state">
					<ul id="solutions-submenu" class="solutions-submenu">
						<li>
							<a  id="solutions-curent-position" href="#"><i class="icon-caret-right"></i>SECTORS</a>
						</li>
						<li>
							<a id="submenu-sectors" class="active" data-scrollTo="#sectors" href="#sectors"><i class="icon-caret-right"></i>SECTORS</a>
						</li>
						<li>
							<a id="submenu-clients-partners" data-scrollTo="#clients-partners" href="#clients-partners"><i class="icon-caret-right"></i>CLIENTS & PARTNERS</a>
						</li>
						<li>
							<a id="submenu-integration" data-scrollTo="#integration" href="#integration"><i class="icon-caret-right"></i>INTEGRATION</a>
						</li>
					</ul>

				</span>
				<div class="signin__container--sm fadeIn">
					<div class="signin__container__integrations">
						<div>
							<button type="button" class="btn btn-primary">
								Facebook
							</button>
						</div>
						<div>
							<button type="button" class="btn btn-primary">
								LinkedIn
							</button>
						</div>
						<div>
							<button type="button" class="btn btn-primary">
								Google
							</button>
						</div>
						<div>
							<button type="button" class="btn btn-primary">
								Paypal
							</button>
						</div>

						<div class="signin__container__integrations--veridu">
							<input type="text" placeholder="Email">
							<input type="password" placeholder="Password">
							<div>
								<button type="button" class="btn btn-primary">Go</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="toggler-container">
				<i class="icon-menu" id="menu-toggler"></i>
			</div>
		</div>

		<div class="dropdown-menu">

			<div class="sign-in-container">
				<div>
					<button class="btn btn-primary btn-lg">Sign in</button>
				</div>
				<div>
					<form>
					</form>
				</div>
			</div>

			<a class="black-link" href="/solutions.html"><h4>Solutions</h4></a>
			<ul>
				<li><a href="/solutions.html#sectors">SECTORS</a></li>
				<li><a href="/clients-and-partners.html">CLIENTS&nbsp;&&nbsp;PARTNERS</a></li>
				<li>USE CASES</li>
				<li>INTEGRATION</li>
			</ul>

			<a class="black-link" href="https://veridu.com/pricing">
				<h4>Pricing</h4>
			</a>

			<h4><a href="https://veridu.com/wiki/Knowledge_Center" target="_blank">Knowledge Center</a></h4>

		</div>

	</nav>

	<!-- <nav class="navbar">
		<ul >
			<li>
				<a href="/about.html">
					<i class="icon icon-chevron-down"></i> SECTORS
				</a>
			</li>
			<li>
				<a href="/about.html">
					<i class="icon icon-chevron-down"></i> CLIENTS & PARTNERS
				</a>
			</li>
			<li>
				<a  href="/contact.html">
					<i class="icon icon-chevron-down"></i> USE CASES
				</a>
			</li>
			<li>
				<a  href="/">
					<i class="icon icon-chevron-down"></i> INTEGRATION
				</a>
			</li>
		</ul>
	</nav>
 -->

</header>
