$base-font-size: 15; // Default

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin col($size, $base: 100%) {
	float: left;
    width: ($size * $base  / 12 );
    padding-left: 8.5px;
    padding-right: 8.5px;
    min-height: 1px;
}

@mixin transitions($time: 0.25s, $type: ease-out) {
    -webkit-transition: all $time $type;
    -moz-transition: all $time $type;
    -ms-transition: all $time $type;
    -o-transition: all $time $type;
    transition: all $time $type;
}

@mixin col-offset($size, $base: 100%) {
    margin-left: ($base * $size / 12 ) !important;
}

@mixin row() {
    margin-left: -8.5px;
    margin-right: -8.5px;
    @include clearfix();
}