.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}

body {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.veridu {
	> span {
		color: #00ADEE;
	}
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.header {

	@include make-row();
	font-weight: bold;

	a {
		color: #303030;
	}

	.menu {
		position: relative;
		z-index: 1;
		@include clearfix();
		padding-bottom: 0.5em;

		> div {
			&.menu-content {
				float: left; 
				margin-left: 1.45em;
				margin-top: 0.66em;
				margin-bottom: 0.6em;

				.logo {

					img {
						&.id-img {
							display: none;
						}
						&.veridu-img {
							width: 80%;
						}
					}
					a.veridu {
						font-size: 1.8em;
					}

				}
				.current-state {
					display: none;
				}
			}

			&.toggler-container {

				margin-right: 2.15em;
				margin-top: 0.8em;
				float: right !important;
			}

			.icon-caret-right {
				font-size: em(18);
				margin-right: em(3);
			}

			> span {
				display: inline-block;

				&.current-state {
					position: relative;
					top: em(2);
				}
			}

			#menu-toggler {
				font-size: em(30);
			}

		}
	}
	.dropdown-menu {

		-webkit-transition: all .25s ease-in;
 	    -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	    -o-transition: all .25s ease-in;
        transition: all .25s ease-in;

        // positioning
		position: absolute;
		left: -em(15);
		top: -100%;
		&.visible {
			top: em(45);
		}

		.sign-in-container {
			display: table;
			width: 100%;

			> div {
				button {
					width: 90%;
				}
				&:first {
					width: 40%;
				}
				vertical-align: middle;
				display: table-cell;
				
				input {
					margin-bottom: em(5);
					width: 100%;
				}

			}
		}

		// box styles
		height: 100%;
		padding: 0 em(15) em(15);
		padding-left: em(50);
		background: white;
		
		z-index: 1000;

		h4 {
			padding-left: em(10);
			margin-top: em(30);
		}

		ul {
			list-style: none;
			padding-left: em(30);

			li {
				font-weight: 300;
				margin-bottom: em(8);
				display: inline-block;
				width: 49.0%;
			}
		}

	}
}

.img-section {

	display: table;
	margin-bottom: em(10);
	width: calc(100% + em(30));
	margin-left: -em(15);
	position: relative;
	height: em(300); 
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background: #333;

	@include clearfix();

	> div.v-aligner {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		color: white;

		> div.right-aligned {
			@include make-xs-column(6);
			@include make-xs-column-offset(6);
			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}
		> div.left-aligned {
			@include make-xs-column(6);

			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}

		@media (min-width: $screen-tablet) {
			
			vertical-align: bottom;
			font-size: 2em;
			padding-bottom: em(30);

			h3 {
				font-size: 3em;
			}

		}


	}

	@media (min-width: $screen-tablet) {
		
		height: em(800);

	}

}

footer {
	padding-left: 10%;
	padding-top: em(50);
	a {
		color: inherit;
	}

	h6 {
		font-size: em(16);
		letter-spacing: em(0.5);
		line-height: em(22);
		margin-bottom: em(15);
		margin-top: em(30);
		&:first-of-type{
			margin-top: 0;
		}
	}
}