.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

@media (min-width: $screen-sm-min) {
    .menu-content {
        margin-left: -8.5px !important;
        margin-right: -8.5px !important;

    }
}

.header.index,
.header.pricing {
    .current-state {

        display: inline-block;

        @media (min-width: $screen-sm-min) {
            display: none !important;
        }
    }
}
.menu-content {

	-webkit-transition: all .45s ease-out;
	-moz-transition: all .45s ease-out;
	-ms-transition: all .45s ease-out;
	-o-transition: all .45s ease-out;
	transition: all .45s ease-out;

	.current-state {
		position: relative;
		// top: 5px;
		-webkit-transition: top .45s ease-out;
 	    -moz-transition: top .45s ease-out;
	    -ms-transition: top .45s ease-out;
	    -o-transition: top .45s ease-out;
        transition: top .45s ease-out;
		ul {
			position: relative;
			top: 3px;
			background: transparent !important;
		}
	}
    .current-state {

        margin-top: em(3);
		position: relative;
		top: 5px;
		-webkit-transition: top .45s ease-out;
 	    -moz-transition: top .45s ease-out;
	    -ms-transition: top .45s ease-out;
	    -o-transition: top .45s ease-out;
        transition: top .45s ease-out;

        @media (min-width: $screen-sm-min) {
            @include clearfix();
            margin-top: em(5);
            padding-left: em(145);

        }

        > ul {

            background: white;
            font-weight: 400;
            padding: 0;
            margin-left: 15px;
            margin-bottom: 0;
            display: none;

            @media (min-width: $screen-sm-min) {
                margin-bottom: 0;
                margin-top: em(4);
            }

            li {
                a {
                    text-decoration: none;
                    outline: 0;

                    &.active {
                        font-weight: bold;
                    }
                }

                i {
                    position: relative;
                    top: 2px;
                    left: -3px;
                    visibility: hidden;
                }

                &:first-of-type {
                    display: block;
                    font-weight: bold;
                }

                &.selected {
                    font-weight: bold;
                    i {
                        visibility: visible;
                    }

                }
                display: none;

                @media (min-width: $screen-sm-min) {
                    display: inline-block;
                    font-weight: 400;
                    margin-right: em(30);

                    a.active {
                        font-weight: bold;
                    }

                    &:first-of-type {
                        display: none !important;
                    }
                    i {
                        display: none !important;
                    }
                }
            }

            &:hover {

                @media (max-width: $screen-xs-max) {
                    li {
                        display: block !important;
                        &:last-of-type {

                            }
                        &:first-of-type {
                            display: none !important;
                        }
                    }
                }
            }
            list-style: none;
        }

        }

}

.veridu-container {
    // phone
    padding-left: 10%;
    padding-right: 10%;

    // desktop
    @media (min-width: $screen-sm-min) {
        @include container-fixed();
        max-width: $container-max-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    // tablets
    @media(max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
        padding-left: 25px;
        padding-right: 25px;
    }

}
.v-row {
    @include row();
}

.no-styled-container {
	max-width: $container-max-width;
	margin-left: auto !important;
	margin-right: auto !important;
}


.current-state {
    display: none;
}

.content-padding {

	max-width: $container-max-width;

	@media (max-width: $screen-xs-max) {
		padding-left: 10%;
		padding-right: 10%;
	}


}

.page-loading {
    position: absolute;
    top: 45%;
    width: 100%;
}

.main-container {
	@include make-row();
	padding-top: em(61);
    &.wow {
        visibility: hidden;
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {

}

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container-sm {
	@media (min-width: $screen-sm-min) {
		margin-left: auto;
		margin-right: auto;
		max-width: $container-max-width;
	}
}

.veridu {
	> span {
		color: #00ADEE;
	}
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}


.header {
    @include make-row();
	z-index: 10000;
	position: relative;

    .integration-container {
        @extend .animated;

        box-shadow: $menu-shadow;
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
        background-color: white;
        padding-top: em(20);
        padding-bottom: em(30) !important;

        top: 54px;
        h3 {
            font-weight: normal;
            margin-top: 0;
        }

        .v-profile__progress-container {
            width: 33% !important;
        }
        .profile__infos {
            @include col(4);
            float: right;
            height: 200px;

            h2 {
                font-weight: normal;
                margin-top: 0;
            }
            p, a {
                font-size: 15px;
            }
            a {
                text-decoration: underline;
            }
            a.improve-scores {
                display: block;
                margin-top: 45px;
            }
        }
        .more-sources {
            @include clearfix();
            margin-top: 2em;
            font-size: 15px;
        }
        .buttons-container {
            margin-bottom: .8em !important;
            margin-top: 0 !important;

            .btn {
                font-size: 1em;
                height: 2.5em;
                width: 100%;
                padding-top: 0.553em;

                .spinner-wrapper {
                    font-size: 12px;
                    top: 6px;
                }
            }

        }

        &.vis {
            display: block;
            @extend .slideInDown;
        }
        &.invis {
            display: block;
            @extend .slideOutUp;
        }
        @media (max-width: $screen-xs-max) {
            display: none !important
        }

    }

	a {
		color: #303030;
	}

	.nav {
        @extend .tablet__gutter;
		position: fixed;
		width: 100%;
        z-index: 1000;
        background: white;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        height: auto;

        @media (min-width: $screen-sm-min) {
            height: em(54) !important;
        }

        &.collapsed {
            height: em(54);

            .menu {
                @media (max-width: $screen-xs-max) {
                    .menu__links__md--left {
                        ul {
                            li:first-of-type {
                                margin-top: 44em !important;
                            }
                        }
                    }
                    .menu__links__md {
                        display: none;
                    }
                }
            }
        }

        &.shadowed {
            box-shadow: $menu-shadow;
            &.disabled-shadow {
                box-shadow: none;
            }
        }

	}

	.menu {
        @include clearfix();
		position: relative;
		border-bottom: 1px solid transparent;
		z-index: 1;
		padding-bottom: 0.5em;

        @media (max-width: 870px) and (min-width: $screen-sm-min) {
            .menu__links__md > ul > li {
                margin-right: em(13) !important
            }
        }

        @media (min-width: $screen-sm-min) {

            max-width: $container-max-width;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0;
            min-height: em(50);

            .menu-content {
                margin-bottom: 0 !important;
            }

            .signin__container--sm.visible {
                @include col(4);
                margin-top: em(54);
                display: block;
                float: none;
                position: absolute;
                top: 0;
                right: 0;
                min-height: 200px;
                background: transparent;


                .signin__container__integrations {
                    @include clearfix();
                    padding: em(15);
                    background: white;

                    > div {
                        @include col(6);
                        margin-bottom: em(17);

                        > button {
                            display: block;
                            width: 100%;
                            height: em(60);
                        }

                        &.signin__container__integrations--veridu {
                            width: 100%;
                            float: none;
                            input {
                                width: 100%;
                                margin-bottom: em(17);

                                &[type="password"] {
                                    @include col(9);
                                    margin-bottom: em(8);
                                }
                            }

                            > div {
                                @include col(3);
                                padding-right: 0;

                                button {
                                    width: 100%;
                                    height: em(40);
                                }

                            }
                        }
                    }
                }
            }
        }

        .menu__links__md {
            @extend .animated;
            @extend .fadeIn;

            li {
                display: block;
                width: auto;

                &.try-it {
                    position: relative;
                    width: em(65);
                    text-align: center;
                    a {
                        @include transitions(.10s);
                        outline: 0;
                        background-color: $brand-primary;
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: em(51);
                        left: 0;
                        top: -2.045em;
                        padding-top: em(14);
                        color: white;
                        border-bottom: 2px solid $brand-primary-border-color;

                        span.try-it__text {
                            display: inline;
                        }
                        span.try-it__close {
                            display: none;
                        }
                        &:hover {
                            border-width: 4px;
                        }
                    }
                    &.vis {
                        a {
                            color: $gray-light !important;
                            background-color: $gray-lighter !important;
                            border-width: 0;
                            span.try-it__text {
                                display: none;
                            }
                            span.try-it__close {
                                display: inline;
                            }
                            &:before {
                            }
                        }
                    }
                }
            }

            @media (min-width: $screen-sm-min) and (max-width: 800px) {
                ul li {
                    font-size: 13px;

                    &.try-it {
                        font-size: 1em;
                    }
                }
            }
            @media (min-width: 801px) and (max-width: 950px) {
                ul li {
                    font-size: 14px;

                    &.try-it {
                        font-size: 1em;
                    }
                }
            }

            @media (max-width: $screen-xs-max) {

                margin-left: 1em;

                .try-it {
                    display: none !important
                }
                &.menu__links__md--left {
                    margin-top: em(30);
                }

                ul {
                    margin-bottom: 0;
                    li {
                        font-size: em(19);
                        font-weight: 300;
                        padding-left: em(13);
                        padding-bottom: em(20);
                    }
                }
            }

            @media (min-width: $screen-sm-min) {
                display: inline-block;
                position: relative;
                font-size: em(16);
                top: em(5);
                li {
                    display: inline-block;
                }

                .menu__links__md--left {
                    float: left;
                }
                &.menu__links__md--right {
                    float: right;
                    padding-right: 8.5px;
                    text-align: right !important;

                    li {
                        &:last-of-type {
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }
                }

                ul {
                    padding: 0;
                    li {
                        margin-right: em(30);
                        letter-spacing: em(0.5);

                        &.selected {
                            font-weight: 600;
                        }

                        a.sign-in-link {
                            color: $brand-primary;
                        }

                    }
                }

            }


        }

        .id-img {
            display: none;
            max-width: em(30);

            @media (min-width: $screen-sm-min) {
                margin-right: em(126);
            }
        }
        .veridu-img {
            width: 80%;
        }

		> div {
			&.menu-content {
				float: left;
				margin-left: 1.45em;
				margin-top: 0.66em;
				margin-bottom: 0.6em;


                @media (min-width: $screen-sm-min) {
                    float: none;
                    margin-left: 0;
                    width: inherit;
                }

				.logo {
					position: relative;
					vertical-align: top;
                    left: 8.5px;

					a.veridu {
						font-size: 1.8em;
					}

				}
			}

			&.toggler-container {

				margin-right: 2.15em;
				margin-top: 0.8em;
				float: right !important;
			}

			.icon-caret-right {
				font-size: em(18);
				margin-right: em(3);
			}

			> span {
				display: inline-block;

				&.current-state {
					position: relative;
					top: em(2);
				}
			}

			#menu-toggler {
				cursor: pointer;
				position: relative;
				font-size: em(30);

				@media (min-width: $screen-sm-min) {
					display: none;
				}
			}

		}
	}
}

.img-section {

	display: table;
	margin-bottom: em(10);
	width: calc(100% + em(30));
	margin-left: -em(15);
	position: relative;
	height: em(300);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background: #333;

	@include clearfix();

	> div.v-aligner {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		color: white;

		> div.right-aligned {
			@include make-xs-column(6);
			@include make-xs-column-offset(6);
			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}
		> div.left-aligned {
			@include make-xs-column(6);

			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}

		@media (min-width: $screen-tablet) {

			vertical-align: bottom;
			font-size: 2em;
			padding-bottom: em(30);

			h3 {
				font-size: 3em;
			}

		}


	}

	@media (min-width: $screen-tablet) {

		height: em(800);

	}

}

footer {
	padding-left: 10%;
	padding-top: em(90);
	margin-bottom: em(65);
	margin-left: -15px;

	a {
		color: inherit;
	}

	h6 {
		font-size: em(16);
		letter-spacing: em(0.5);
		line-height: em(22);
		margin-bottom: em(15);
		margin-top: em(30);
		&:first-of-type{
			margin-top: 0;
		}
	}
	li {
		font-weight: 300;
	}
	> div {
		@extend .tablet__gutter;
	}

	// for desktops
	@media (min-width: $screen-sm-min) {
		margin-bottom: 0 !important;
		padding-left: 0 !important;

		padding-bottom: em(65);

		background: white;
		@include make-row();

		> div {

			@include clearfix();
			max-width: $container-max-width;
			margin-left: auto !important;
			margin-right: auto !important;

			section {
				float: left;
				width: em(141);
                height: 160px;
				margin-right: em(17);
			}
		}
	}

}

.fixed-contact__container {
    @extend .animated;
    @extend .fadeInUp;
    display: none;

    position: fixed;
    z-index: 100;
    text-align: right;
    bottom: em(20);
    right: em(20);

    @media (min-width: $screen-sm-min) {

        div.fixed-contact__input-container {
            max-width: em(350) !important;
        }
    }

    &.active {

        width: 100%;
        .fixed-contact__input-container {
            display: inline-block;
        }
        .fixed-contact__label {
            display: none;
        }
        .fixed-contact__help {
            display: block;
        }
    }

    .fixed-contact__help {
        @extend .text-muted;
        display: none;
        font-size: 0.8em;
        position: relative;
        top: 3px;
    }

    button {
        box-shadow: $material-shadow-2;
        height: em(43);

        .material-icons {
            position: relative;
            top: 3px;
        }

        .fixed-contact__thank-you {
            display: none;
        }

        &.sent {
            .hideable {
                display: none;
            }
            .fixed-contact__thank-you {
                display: block;
                text-align: center;
            }
        }

        .fixed-contact__label {
            @extend .hidden-xs;
            margin-left: em(8);
            position: relative;
            top: -4px;
        }
    }

    .fixed-contact__input-container {
        width: 100%;
        max-width: calc(100% - 90px);
        display: none;
        position: relative;

        .text-danger {
            background: rgba(white, 0.8);
            display: none;
            position: absolute;
            left: 0;
            font-size: 0.9em;
            bottom: - em(25);
        }
    }

    input {
        height: em(43);
        position: relative;
        width: 100%;
        top: 2px;

    }
}

#fixed-contact__button {
    color: white !important
}

.contact-section-container {
    @extend .clearfix;

    @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
    }

    background-color: #f8f8f8;
}

.header.article,
.header.pricing {
    .current-state {
        @media (min-width: $screen-sm-min) {
            display: none !important
        }
    }
}
