.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.no-styled-container {
	max-width: $container-max-width;
	margin-left: auto !important;
	margin-right: auto !important;
}


.current-state {
    display: none;
}

.content-padding {

	max-width: $container-max-width;

	@media (max-width: $screen-xs-max) {
		padding-left: 10%;
		padding-right: 10%;
	}


}

.page-loading {
    position: absolute;
    top: 45%;
    width: 100%;
}

.main-container {
	@include make-row();
	padding-top: em(61);
    &.wow {
        visibility: hidden;
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {

}

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container-sm {
	@media (min-width: $screen-sm-min) {
		margin-left: auto;
		margin-right: auto;
		max-width: $container-max-width;
	}
}

.veridu {
	> span {
		color: #00ADEE;
	}
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}


.header {
	z-index: 10000;
	position: relative;
	div {

	}
	@include make-row();

	a {
		color: #303030;
	}

	.nav {
        @extend .tablet__gutter;
		position: fixed;
		width: 100%;
        z-index: 1000;
        background: white;
        min-height: em(52);

        &.shadowed {
            box-shadow: $material-shadow-2;
        }
	}

	.menu {
        @include clearfix();

		position: relative;
		border-bottom: 1px solid transparent;
		z-index: 1;
		padding-bottom: 0.5em;

        .signin__container--sm {
            display: none;
        }

        @media (min-width: $screen-sm-min) {

            max-width: $container-max-width;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0;
            min-height: em(50);

            .menu-content {
                margin-bottom: 0 !important;
            }

            .signin__container--sm.visible {
                @include col(4);
                margin-top: em(54);
                display: block;
                float: none;
                position: absolute;
                top: 0;
                right: 0;
                min-height: 200px;
                background: transparent;


                .signin__container__integrations {
                    @include clearfix();
                    padding: em(15);
                    background: white;

                    > div {
                        @include col(6);
                        margin-bottom: em(17);

                        > button {
                            display: block;
                            width: 100%;
                            height: em(60);
                        }

                        &.signin__container__integrations--veridu {
                            width: 100%;
                            float: none;
                            input {
                                width: 100%;
                                margin-bottom: em(17);

                                &[type="password"] {
                                    @include col(9);
                                    margin-bottom: em(8);
                                }
                            }

                            > div {
                                @include col(3);
                                padding-right: 0;

                                button {
                                    width: 100%;
                                    height: em(40);
                                }

                            }
                        }
                    }
                }
            }
        }

        .menu__links__md {
            display: none;

            @media (min-width: $screen-sm-min) {

                display: inline-block;
                position: relative;
                font-size: em(16);
                top: em(5);

                .menu__links__md--left {
                    float: left;
                }
                &.menu__links__md--right {
                    float: right;
                    padding-right: 8.5px;

                    li {
                        &:last-of-type {
                            margin-right: 0;
                            padding-right: 0;
                        }
                        text-align: right !important;
                    }
                }

                ul {
                    padding: 0;
                    li {
                        margin-right: em(30);
                        letter-spacing: em(0.5);

                        &.selected {
                            font-weight: 600;
                        }

                        a.sign-in-link {
                            color: $brand-primary;
                        }

                    }
                }

            }


        }

        .id-img {
            display: none;
            max-width: em(30);

            @media (min-width: $screen-sm-min) {
                margin-right: em(126);
            }
        }
        .veridu-img {
            width: 80%;
        }

		> div {
			&.menu-content {
				float: left;
				margin-left: 1.45em;
				margin-top: 0.66em;
				margin-bottom: 0.6em;


                @media (min-width: $screen-sm-min) {
                    float: none;
                    margin-left: 0;
                    width: 100%;
                }

				.logo {
					position: relative;
					vertical-align: top;

					a.veridu {
						font-size: 1.8em;
					}

				}
			}

			&.toggler-container {

				margin-right: 2.15em;
				margin-top: 0.8em;
				float: right !important;
			}

			.icon-caret-right {
				font-size: em(18);
				margin-right: em(3);
			}

			> span {
				display: inline-block;

				&.current-state {
					position: relative;
					top: em(2);
				}
			}

			#menu-toggler {
				cursor: pointer;
				position: relative;
				top: -3px;
				font-size: em(30);

				@media (min-width: $screen-sm-min) {
					display: none;
				}
			}

		}
	}
	.dropdown-menu {
        @include clearfix();

        // positioning
		background: white !important;
        display: none;
		width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: em(50);

		// box styles
		height: 100%;
		background: white;
		z-index: 1000;

		&.visible {
            position: fixed;
            height: 100%;
			display: table;
            top: 3.555em !important;
			z-index: 20 !important;
			width: 100%;
			box-shadow: 0 4px 5px #ccc;

            @media (min-width: $screen-sm-min) {
                display: none !important;
            }
		}

        .dropdown-menu__contents {
            @include clearfix();
            position: relative;
            z-index: 1000;
            max-height: 80%;
        }

		.sign-in-container {


            @media (min-height: 481px) {
                // margin-top: 20%;
            }

            .signin-component-xs {
                @include clearfix();
                display: none;
                margin-bottom: em(15);

                &.visible {
                    display: block;
                }

                .integrations-container {
                    @include row();

                    > div {
                        @include col(6);
                        button {
                            width: 100%;
                            max-width: none;
                            height: em(50) !important;
                        }

                    }
                }
                .veridu-signin {
                    margin-top: em(20);

                    input {

                        &[type="text"] {
                            @include col(12);
                            margin-bottom: em(17);
                        }

                        &[type="password"] {
                            @include col(9);
                        }
                    }
                    > div {
                        @include col(3);
                        padding-right: 0;

                        button {
                            position: relative;
                            height: em(39);
                            top: -10px;
                        }
                    }
                }
            }


		}


		h4 {
			margin-top: em(30);
            padding-left: 0 !important;

            &.signin {
                margin-top: 0;
                color: $brand-primary;
                cursor: pointer;
                display: inline-block;
            }
			// for iphone 4
			@media (max-width: 350px) {
				margin-top: em(20) !important;
			}
		}

		ul {
			list-style: none;
			padding-left: em(30);

			li {
				font-weight: 300;
				margin-bottom: em(8);
				width: 49.0%;
			}
		}

	}
}

.img-section {

	display: table;
	margin-bottom: em(10);
	width: calc(100% + em(30));
	margin-left: -em(15);
	position: relative;
	height: em(300);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background: #333;

	@include clearfix();

	> div.v-aligner {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		color: white;

		> div.right-aligned {
			@include make-xs-column(6);
			@include make-xs-column-offset(6);
			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}
		> div.left-aligned {
			@include make-xs-column(6);

			@media (min-width: $screen-tablet) {
				@include make-xs-column(8);
				@include make-xs-column-offset(2);
			}
		}

		@media (min-width: $screen-tablet) {

			vertical-align: bottom;
			font-size: 2em;
			padding-bottom: em(30);

			h3 {
				font-size: 3em;
			}

		}


	}

	@media (min-width: $screen-tablet) {

		height: em(800);

	}

}

footer {
	padding-left: 10%;
	padding-top: em(90);
	margin-bottom: em(65);
	margin-left: -15px;

	a {
		color: inherit;
	}

	h6 {
		font-size: em(16);
		letter-spacing: em(0.5);
		line-height: em(22);
		margin-bottom: em(15);
		margin-top: em(30);
		&:first-of-type{
			margin-top: 0;
		}
	}
	li {
		font-weight: 300;
	}
	> div {
		@extend .tablet__gutter;
	}

	// for desktops
	@media (min-width: $screen-sm-min) {
		margin-bottom: 0 !important;
		padding-left: 0 !important;

		padding-bottom: em(65);

		background: white;
		@include make-row();

		> div {

			@include clearfix();
			max-width: $container-max-width;
			margin-left: auto !important;
			margin-right: auto !important;

			section {
				float: left;
				width: em(141);
				margin-right: em(17);
			}
		}
	}

}

.fixed-contact__container {
    @extend .animated;
    @extend .fadeInUp;
    display: none;

    position: fixed;
    z-index: 100;
    text-align: right;
    bottom: em(20);
    right: em(20);

    @media (min-width: $screen-sm-min) {

        div.fixed-contact__input-container {
            max-width: em(350) !important;
        }
    }

    &.active {

        width: 100%;
        .fixed-contact__input-container {
            display: inline-block;
        }
        .fixed-contact__label {
            display: none;
        }
        .fixed-contact__help {
            display: block;
        }
    }

    .fixed-contact__help {
        @extend .text-muted;
        display: none;
        font-size: 0.8em;
        position: relative;
        top: 3px;
    }

    button {
        box-shadow: $material-shadow-2;
        height: em(43);

        .material-icons {
            position: relative;
            top: 3px;
        }

        .fixed-contact__thank-you {
            display: none;
        }

        &.sent {
            .hideable {
                display: none;
            }
            .fixed-contact__thank-you {
                display: block;
                text-align: center;
            }
        }

        .fixed-contact__label {
            @extend .hidden-xs;
            margin-left: em(8);
            position: relative;
            top: -4px;
        }
    }

    .fixed-contact__input-container {
        width: 100%;
        max-width: calc(100% - 90px);
        display: none;
        position: relative;

        .text-danger {
            background: rgba(white, 0.8);
            display: none;
            position: absolute;
            left: 0;
            font-size: 0.9em;
            bottom: - em(25);
        }
    }

    input {
        height: em(43);
        position: relative;
        width: 100%;
        top: 2px;

    }
}