.tablet__gutter {

	@media (min-width: $screen-sm-min) {

		@media (max-width: $screen-sm-max) {

			padding-right: 25px !important;
			padding-left: 25px !important;

		}

	}
}

.sm-container {
    @media (min-width: $screen-xs-max) {
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.pure-container {
	@extend .sm-container;
	@extend .tablet__gutter;
	@extend .content-padding;
}

.v-list {
	@extend .list-unstyled;
	@extend .clearfix;

	> li {
		display: inline-block;

		@media (min-width: $screen-sm-min) {
			@include col(3);
		}

		margin-bottom: em(15);

		h4 {
			font-size: 1em;
			margin-top: 0;
			margin-bottom: em(10);
			font-weight: bold;
		}
	}
}

.responsive-logo {
	position: relative;
	z-index: 10;
	width: auto;
}


@media (max-width: $screen-xs-max) {

	@-webkit-keyframes fadeOutMobile {
	  from {
	    opacity: 1;
	  }

	  100% {
	    opacity: 0;
	  }
	}

	@keyframes fadeOutMobile {
	  from {
	    opacity: 1;
	  }

	  100% {
	    opacity: 0;
	  }
	}

	@-webkit-keyframes fadeInMobile {
	  from {
	    opacity: 0;
	  }

	  100% {
	    opacity: 1;
	  }
	}

	@keyframes fadeInMobile {
	  from {
	    opacity: 0;
	  }

	  100% {
	    opacity: 1;
	  }
	}

	@-webkit-keyframes slideInRightMobile {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	  }

	  100% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideInRightMobile {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	  }

	  100% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
}

.fadeOutMobile {
  -webkit-animation-name: fadeOutMobile;
  animation-name: fadeOutMobile;
}

.fadeInMobile {
  -webkit-animation-name: fadeInMobile;
  animation-name: fadeInMobile;
}

.slideInRightMobile {
  -webkit-animation-name: slideInRightMobile;
  animation-name: slideInRightMobile;
}

ul.no-bullets {
	list-style: none;
}

.col12 {
	@include col(12);
}

.row-md {
	@media (min-width: $screen-sm-min) {
		@include row();
	}
}

.list-hollow {
	> li {
		margin-top: em(10);
		margin-bottom: em(10);
	}
}

.col-07 {
	@include col(0.7);
}
.col-113 {
	@include col(11.3);
}