.page.contact-page {

	.md-cards {
		z-index: 15;

		.item-container {
			cursor: pointer;
		}

		@media (max-width: $screen-xs-max) {
			background: #EFEFEF !important;
			* {
				background: #EFEFEF !important;
			}
		}

		address {
			font-weight: 300;
		}
	}

	.contact__welcome__mobile {
		@extend .visible-xs;

		background: white;
		padding: em(40) 10%;
	}

	.contact.veridu-list {
		@media (min-width: $screen-sm-min) {
			padding-top: 0 !important;
			> div {
				@include col(12);
				float: none;
			}
		}
	}

	.contact__cover {
		position: relative;

		.contact__cover__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 10;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.4)75%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.4)75%, rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
		}

		.map {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.contact__cover__contents {
			width: 100%;
			position: absolute;
			left: 0;
			color: white;
			z-index: 100;
			bottom: 5%;
			@media (min-width: $screen-sm-min) {
				bottom: 20%;
			}

			div.page-description {

				@extend .tablet__gutter;
				@extend .content-padding;
				max-width: $container-max-width;
				margin: 0 auto;

				p {
					@extend .hidden-xs;
					font-style: italic;
					font-size: em(16);

				}

				@media (min-width: $screen-sm-min) {
					@include col(12);
					float: none;
				}

			}
		}
	}

	section.support {

		background: #efefef;

		padding-top: 0;
		@media (min-width: $screen-sm-min) {
			@include col(12);
			float: none;
		}
		padding-bottom: em(300);

		input {
			width: calc(100% - 100px);
			max-width: em(510);
		}
		button {
			margin-left: em(11);
			height: em(38);
			position: relative;
			top: -2px;
		}

	}

	.contact.veridu-list {

		position: relative;
		top: -50px;
		background: transparent;

	}
}


section.veridu-list {

	@include clearfix();
	padding-top: em(50);
	padding-left: 10%;
	padding-right: 10%;

	.item-container {
		margin-bottom: em(60);
		&:last-of-type {
			margin-bottom: em(50);
		}

		h3 {
			margin-top: 0;
			font-size: 1.067em;
			font-weight: 400;
			line-height: em(22);
			margin-bottom: em(14);
		}

		p {
			font-weight: 300 !important;
			font-size: 1em;
			line-height: em(19);
		}

	}

	&.md-cards {
		min-height: em(350);
		@include clearfix();
		clear: both;
		@extend .tablet__gutter;
		position: relative;
		z-index: 10;

		.item-container  {

			position: relative;

			> div {

				> * {
					@extend .animated;
				}


				&.vis {
					display: block;

					> * {
						-webkit-animation-name: fadeIn;
					    animation-name: fadeIn;
					}
				}

				&.inv {
					display: none;
					width: calc(100% - 17px) !important;
					position: absolute !important;

					> * {
						-webkit-animation-name: fadeOut;
						animation-name: fadeOut;
					}
				}

			}

		}
	}

	// for desktop
	@media (min-width: $screen-sm-min) {
		&.md-cards {
			height: 15em;
			max-width: $container-max-width;
			margin-right: auto;
			margin-left: auto;
			padding-right: 0;
			padding-left: 0;

			padding-top: 0;
			position: relative;
			top: - em(70);

			.item-container {
				@include col(4);

				> div {
					@include animated();
					width: calc(100% - 17px) !important;
					position: absolute !important;

					background: white;
					padding: em(30) em(40);
					height: em(229);
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

					h3 {
						letter-spacing: em(0.3, 25);
					}
				}

			}
		}
	}
}


//  Contact section
section.contact {
	@include clearfix();
	padding-top: em(50);
	textarea {
		resize: none;
		outline: 0;
	}

	> div {
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;

	}
	h2 {
		margin-top: 0;
		font-size: em(36);
		margin-bottom: em(50, 36);
		line-height: em(33, 36);
	}

	// desktop styles
	@media (min-width: $screen-sm-min) {

		padding-top: em(69) !important;
		padding-left: 0;
		padding-right: 0;

		h2 {
			margin-bottom: em(69, 36) !important;
			line-height: em(33, 36);
		}

	}
}

section.contact {
	@extend .tablet__gutter;
	background-color: #f1f1f1 !important;

	// desktop styles
	@media (min-width: $screen-sm-min) {

		padding-bottom: em(75) !important;

		.form-horizontal {
			position: relative;
			display: table;

			.input-container {
				display: inline-block;

				input {
					width: em(250);
				}
				textarea, input.big {
					width: em(607)
				}
				input.half {
					width: em(338);
				}

				&.email {
					input {
						width: em(515);
					}
				}

				margin-right: em(15);


			}

			.submit {
				position: absolute;
				right: 0;
				top: 0;
				button {
					padding: em(28) 0;
					width: em(77);
				}
			}
		}

	}

}

section.contact {
	background-color: #efefef;

	@include clearfix();
	padding-bottom: em(70);

	> h4 {
		margin-bottom: em(14);
	}

	.section__description {
		margin-bottom: em(44);
	}

	form {
		.input-container {
			margin-bottom: em(16);

			input, textarea {
				width: 100%;
				border: 0;
				background: white;
				color: $brand-primary;
				padding: 8px;
			}
			input {
				height: em(32);
			}

		}
	}
}
