// index  page styles



.progress-container {

	@include clearfix();
	min-height: em(347);
	background-image: url(/img/carl2.jpeg) !important;
	background-repeat: no-repeat !important;
	background-position: 0px -60px !important;

	padding-top: em(64);	

	.white-link {
		margin-left: 10%;
		margin-top: em(19);

		font-size:  em(15.78);
		line-height: 1.3em;
		letter-spacing: em(2);
		border-bottom: em(1) solid #FFFFFF;
	}
}

section.verification-container {
	
	@include clearfix();
	
	padding-left: 10%;
	padding-right: 10%;
	padding-top: em(28);
	padding-bottom: em(31);

	background-color: #EFEFEF;;

	h4 {
		letter-spacing: em(2);
		margin-top: 0;
		margin-bottom: em(17);
		font-size: em(15.78);
		
	}

	> a {

		margin-top: em(11);
		border-bottom: em(1) solid black;
		text-decoration: none!important;
		letter-spacing: em(2);
		font-size: 1.067em;	


	}

}

.c-white {
	color: white;
}

.landing-section {

	@media (min-width: $screen-xs-max) {
		background-image: url(/img/coworking.jpeg);
		background-size: 100% 100%;
		position: relative;
	}

	p.slider-paragraph {
		margin-bottom: em(50);
		line-height: em(20);
	}

	h1 {
		&.title-sm {
			@extend .hidden-xs;
			font-size: em(45);
			font-weight: 400;
			letter-spacing: em(2,50);
			color: white !important;
			margin-top: em(40, 50);
			margin-bottom: em(40, 50);

			span {
				border-bottom: 2px solid white;
			}
		}
	}

	> div.row-sm {
		position: relative;
		z-index: 1;
	}

	.landing__overlay {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(black, 0.8);
	}
	.slider-progress-container {
		@media (min-width: $screen-xs-max) {
			margin-left: -15px;
			margin-right: -15px;
			@include make-sm-column(12);
		}
	}

	#main-slider {
		@extend .visible-xs;
	}

	.progress__customer__picture {

		@extend .hidden-xs;

	}

	
	.customer-image-container {
		@extend .hidden-xs;
		background-color: rgba(black, 0.3);

		img {
			@extend .img-responsive;
		}

		@media (min-width: $screen-xs-max) {
			width: 187.9px;
			height: 187.9px;
			background-repeat: no-repeat no-repeat;
			background-position: left center;
			@include make-sm-column(3);
			padding: 0 !important;
			padding-right: 15px !important;
		}
	}

	.progress-container {
		
		@include make-sm-column(4);

		@media (min-width: $screen-xs-max) {
			background-image: none !important;
			background-color: transparent;
			padding-top: 0px !important;
			padding: 0 !important;

			.progress {
				height: 36.4px;

				.progress-bar {
					padding: 0.5em !important;
					padding-left: 0.1em !important;
					@include opacity(1);
					p {
						font-size: 1.1em !important;
					}
				}
			}
			.white-link {
				margin-left: 0;
			}

		}
	}

	.mycoisas {

		list-style: none;

		li {
			border: 2px solid $brand-primary;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			display: inline-block;
		}
	}

	.verification-container {
		@media (min-width: $screen-xs-max) {

			@include make-sm-column(4);
			padding-top: 0;
			
			button {
				font-size: em(15);
			}

			background: transparent;
			.black-link {
				float: right;
				color: white !important;
				border-color: white;
				&:hover {
					color: white !important;
				}
			}
			h4 {
				letter-spacing: em(0.5);
				color: white;
			}

		}
	}
}


section.veridu-list {
	@include clearfix();
	padding-top: em(50);
	padding-left: 10%;
	padding-right: em(50);
	
	.item-container {
		margin-bottom: em(60);
		&:last-of-type {
			margin-bottom: em(50);
		}

		h3 {
			margin-top: 0;
			font-size: 1.067em;
			font-weight: 400;
			letter-spacing: em(2);
			line-height: em(22);
			margin-bottom: em(14);
		}

		p {
			font-weight: 300 !important;
			font-size: 1em;
			line-height: em(19);
		}
		
	}
}

section.rasmus-quote {
	@include clearfix();

	background-image: url(/img/rasmus-big-fliph.jpg);
	background-repeat: no-repeat no-repeat;
	background-position: -320px -50px ;
	height: em(470);
	padding-top: em(41);

	> div {
		float: right;
		width: 40%;

		h4 {
			margin-right: 20%;
			text-align: center;
			margin-top: 0;
			font-size: 1.6em;
			line-height: 1.6em;
			font-weight: 300;
			margin-bottom: em(19);
		}
		p {
			font-weight: 400;
			font-size: 1.067em;
			line-height: em(22);
		}
	}

}

section.partners-quotes {

	@include clearfix();
	padding-top: em(20);
	background-color: #EFEFEF;

	.carousel-inner {

		a.nav {
			position: absolute;
			bottom: em(48);
			color: black;
			text-decoration: none;
			font-size: em(24);
			z-index: 15;
		}

		.carousel-nav-left {
			left:50%;
			margin-left: - 125px;
		}
		.carousel-nav-right {
			right:50%;
			margin-right: - 125px;
		}

	}
	.item {
		height: em(450);

		.carousel-caption {
			font-size: em(22);
			line-height: em(32, 24);
			margin-bottom: em(19);
			color: black;
			font-weight: 300;
			text-shadow:none;

			.quoted-from-container {

				margin-top: em(44);
				text-align: center;
				position: relative;

				small {
					font-size: em($base-font-size, 24);
					letter-spacing: em(1);
					line-height: em(22);
				}

			}
		}
	}
}

section.integration,
section.contact {
	@include clearfix();
	padding-top: em(50);

	h2 {
		margin-top: 0;
		font-size: em(36);
		margin-bottom: em(50, 36);
		line-height: em(33, 36);
	}

}

section.contact {
	padding-left: 10%;
	background-color: #F8F8F8;
}