// index  page styles

.progress-container {

	@include make-row();
	min-height: em(347);
	background: rgba(black, 0.5);
	padding-top: em(64);

	.white-link {
		margin-left: em(19);
		margin-top: em(19);

		font-size:  em(15.78);
		line-height: 1.3em;
		letter-spacing: em(2);
		border-bottom: em(1) solid #FFFFFF;
	}
}

section.verification-container {
	
	@include make-row();
	padding-left: em(15);
	padding-top: em(28);
	padding-bottom: em(31);

	background-color: #EFEFEF;;

	h4 {
		letter-spacing: em(2);
		margin-top: 0;
		margin-bottom: em(17);
		font-size: em(15.78);
		
	}

	> a {

		margin-top: em(11);
		border-bottom: em(1) solid black;
		text-decoration: none!important;
		letter-spacing: em(2);
		font-size: 1.067em;	


	}

}

section.veridu-list {
	@include make-row();
	padding-top: em(50);
	padding-left: em(35);
	padding-right: em(50);
	
	.item-container {
		margin-bottom: em(60);
		&:last-of-type {
			margin-bottom: em(50);
		}

		h3 {
			margin-top: 0;
			font-size: 1.067em;
			letter-spacing: em(2);
			line-height: em(22);
			margin-bottom: em(14);
		}

		p {
			font-size: 1em;
			line-height: em(19);
		}
		
	}
}

section.rasmus-quote {
	@include make-row();
	background-image: url(/img/rasmus-big-fliph.jpg);
	background-repeat: no-repeat no-repeat;
	background-position: -320px -50px ;
	height: em(470);
	padding-top: em(41);

	> div {
		float: right;
		width: 35%;
		h4 {
			text-align: center;
			margin-top: 0;
			font-size: 1.6em;
			line-height: 1.6em;
			margin-bottom: em(19);
		}
		p {
			font-size: 1.0067em;
			line-height: em(22);
		}
	}

}

section.partners-quotes {

	@include make-row();
	padding-top: em(20);
	background-color: #EFEFEF;

	.item {
		height: em(450);

		.carousel-caption {
			font-size: 1.6em;
			line-height: 1.3em;
			margin-bottom: em(19);
			font-style: 'Light';
			color: black;
			text-shadow:none;
			font-weight: 300 !important;
				
			.quoted-from-container {

				margin-top: em(44);
				text-align: center;
				position: relative;

				a {
					position: absolute;
					top: em(15);
					color: black;
					text-decoration: none;
				}
				.carousel-nav-left {
					left: 0;
				}
				.carousel-nav-right {
					right: 0;
				}

				small {
					font-size: $base-font-size;
					letter-spacing: em(1);
					line-height: em(22);
				}

			}
		}
	}
}

section.integration,
section.contact {
	@include make-row();
	padding-top: em(50);

	h2 {
		margin-top: 0;
		margin-bottom: em(50);
		font-size: em(36);
		line-height: em(33);
	}

}

section.contact {
	padding-left: em(15);
	background-color: #F8F8F8;
}