// index  page styles

.progress-container {

	@include clearfix();
	min-height: em(497);
	background-repeat: no-repeat !important;
	background-position: 0px -60px !important;

	padding-top: em(64);

	@media (max-width: $screen-xs-max) {
		margin-bottom: -32px;
	}


	.white-link {

		margin-left: 10%;
		margin-top: em(19);

		font-size:  em(15.78);
		line-height: 1.3em;
		letter-spacing: em(2);
		border-bottom: em(1) solid #FFFFFF;
		visibility: hidden;

	}
}

section.verification-container {

	@include clearfix();

	padding-left: 10%;
	padding-right: 10%;
	padding-top: em(28);
	padding-bottom: em(31);
	background-color: #EFEFEF;

	.hidden-verification-container {
		> div {
			@extend .animated;
		}
	}


	@media (min-width: $screen-sm-min) {

		.a {
			background-color: rgba(black, 0.9);
			z-index: 10;
		}

		.buttons-container {
			position: relative;
		}

		.hidden-verification-container {

			position: absolute;
			width: 100%;
			margin-top: em(103);

			> div {
				width: 100%;
				left: 0;
			}

			a.black-link {
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
	h4 {
		letter-spacing: em(2);
		margin-top: 0;
		margin-bottom: em(17);
		font-size: em(15.78);

	}

	> a {

		margin-top: em(11);
		border-bottom: em(1) solid black;
		text-decoration: none!important;
		letter-spacing: em(2);
		font-size: 1.067em;


	}

}

.c-white {
	color: white;
}

div.landing-section {

	video {
		display: none;

		@media (min-width: $screen-sm-min) {
			display: inherit;
			position: absolute;
		    width: 100% !important;
		    height: 100%;
		    width: auto;
			object-fit: fill;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: auto ;
	}


	@include clearfix();

	.md-indicators {

		@media (max-width: $screen-xs-max) {
			position: relative;
			top: - em(60);
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: auto !important;
			bottom: 0;
		}

		li  {

			border-color: $brand-primary;
			border-width: 2px;
			width: em(13) !important;
			height: em(13) !important;

			@media (max-width: $screen-xs-max) {
				margin: 0 em(8);
			}

			@media (min-width: $screen-sm-min) {
				position: relative;
				margin: em(8);
				&.active {
					margin: em(8);
				}
			}

			&.active {
				background-color: $brand-primary;
				border-width: 2px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		display: table;
		width: 100%;
		background-image: url(../img/landing-bg.png);
		background-size: 100% 100%;
		position: relative;

	}

	.landing__content {
		@extend .tablet__gutter;

		@media (min-width: $screen-sm-min) {
			display: table-cell;
			vertical-align: middle;
		}
	}

	p.slider-paragraph {
		@include col(12);
		@extend .animated;

		min-height: em(62);
		margin-bottom: em(40);
		line-height: em(20);
	}

	h1 {
		&.title-sm {
			text-align: center;
			font-size: em(35);
			font-weight: 400;
			letter-spacing: em(2,50);
			color: black;
			margin-bottom: em(40, 35);

			@media (max-width: $screen-xs-max) {
				padding: 0 !important
			}

			@media (min-width: $screen-sm-min) {

				@include col(12);
				text-align: left;
				font-weight: 300;
				font-size: em(45);
				padding-left: 5px;
				color: white;
				margin-top: 0;
				margin-bottom: em(40, 50);
			}

			span {
				@extend .animated;
			}

		}
	}

	> div.row-sm {
		@include clearfix();
		position: relative;
		z-index: 1;

		> * {
			&:last-of-type {
				margin-right: 0 !important;
			}
		}
	}

	.landing__overlay {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(black, 0.8);
	}


	.slider-progress-container {
		@media (min-width: $screen-sm-min) {
			@include clearfix();
			z-index: 10;
			position: relative;
			top: - em(100);
		}
	}

	#main-slider {
		@extend .visible-xs;
	}

	.progress__customer__picture {

		@extend .hidden-xs;

	}


	.customer-image-container {

		@extend .hidden-xs;
		@include col(3);

		margin-top: em(36);

		.customer__image {

			@media (min-width: $screen-sm-min) {
				width: 100%;
				height: 187.9px;
				background-repeat: no-repeat no-repeat;
				background-size: 100% !important;
				background-position: center center;
			}
		}

		a {
			color: white;
			margin-top: em(21.5);
			display: block;

			font-size: 1em;

			small {
				color: white;
			}

			span {
				&.big {
					font-size: 1.4em;
				}
				&.white-bottom-border {
					border-bottom: 1px solid white;
				}
			}
		}
	}

	.progress-container {

		position: relative;
		height: 400px !important;

		.progress__overlay {
			@extend .visible-xs;
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.3);
		}

		.progress__content {
			position: relative;
			z-index: 200;
		}

		h4 {
			font-weight: 400;
			text-align: center;
			margin-top: 0;
			font-size: 1.052em;
			margin-bottom: em(18);
			letter-spacing: em(0.5);
			color: white;
			text-align: left;
			margin-top: 0 !important;
		}

		.progress.progress-verified {
			//background: rgba(black, 0.2);
			//border-right: 5px solid $brand-primary;
			display: table;
			margin: 0;
			padding: em(7);
			padding-right: em(10.4);

			img {
				width: em(165);
				position: relative;
				top: em(5);
			}

		}

		@media (min-width: $screen-sm-min) {
			@include col(4);
			background-image: none !important;
			background-color: transparent !important;
			padding-top: 0px !important;

			.progress {
				height: em(37);
				position: relative;


				.progress-bar {
					@include opacity(1);
					p {
						font-size: 1.1em !important;
					}
				}

				&.progress-verified {
					background: transparent;
					border: 0;
					display: block;
					margin-bottom: em(14);
					padding: 0;
				}

			}
			.white-link {
				margin-left: em(12);
				font-size: 1em;
			}

		}
	}

	.verification-container {
		padding-top: em(40);
		min-height: em(300);

		.buttons-container .btn {

			.inner-spin,
			.spinner-wrapper::after {
				background: $brand-primary;
			}
			.rotator:before {
				border: 3px solid $brand-primary;
			}

			&.active {
				.inner-spin,
				.spinner-wrapper::after {
					background: $brand-primary-border-color;
				}
				.rotator:before {
					border: 3px solid $brand-primary-border-color;
				}
			}

			&:active {
				.inner-spin,
				.spinner-wrapper::after {
					background: #1080E8;
				}
				.rotator:before {
					border: 3px solid #1080E8;
				}
			}


			.spinner {
				display: none;
				margin: 0 auto;
				position: relative;
				top: -27px;

				@media (min-width: $screen-sm-min) {
					top: -18px;
				}
			}
			&.active.loading {
				.spinner {
					display: block;
				}
				> span {
					display: none;
				}
			}
		}

		.terms-of-use {
			@include col(12);
			color: black;
			font-size: em(13);
			a {
				color: black;
				border-bottom: 1px solid black;
			}

		}

		@media (min-width: $screen-sm-min) {

			@include col(4);
			@include col-offset(1);
			.terms-of-use {
				color: white;
				a {
					color: white;
					border-color: white;
				}
			}

			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-top: 0 !important;

			.buttons-container {

				.btn-container {

					padding-left: 8.5px;
					padding-right: 8.5px;
					margin-bottom: em(17);

					button {
						margin-left: 1px !important;
						font-size: em(15);
						line-height: em(20);
						height: em(87);
					}
				}
			}

			background: transparent;

			.black-link {
				float: right;
				margin-top: em(6);
				margin-right: 8.5px;
				color: white !important;
				border-color: white;
				&:hover {
					color: white !important;
				}
			}

			h4 {

				font-weight: 400;
				margin-left: 8.5px;
				letter-spacing: em(0.5);
				color: white;
			}

		}
	}
}


section.veridu-list {

	@include clearfix();
	padding-top: em(50);
	padding-left: 10%;
	padding-right: 10%;

	.item-container {
		margin-bottom: em(60);
		&:last-of-type {
			margin-bottom: em(50);
		}

		h3 {
			margin-top: 0;
			font-size: 1.067em;
			font-weight: 400;
			line-height: em(22);
			margin-bottom: em(14);
		}

		p {
			font-weight: 300 !important;
			font-size: 1em;
			line-height: em(19);
		}

	}

	&.md-cards {
		min-height: em(350);
		@include clearfix();
		clear: both;
		@extend .tablet__gutter;
		position: relative;
		z-index: 10;

		.item-container  {

			position: relative;

			> div {

				> * {
					@extend .animated;
				}


				&.vis {
					display: block;

					> * {
						-webkit-animation-name: fadeIn;
					    animation-name: fadeIn;
					}
				}

				&.inv {
					display: none;
					width: calc(100% - 17px) !important;
					position: absolute !important;

					> * {
						-webkit-animation-name: fadeOut;
						animation-name: fadeOut;
					}
				}

			}

		}
	}

	// for desktop
	@media (min-width: $screen-sm-min) {
		&.md-cards {
			height: 15em;
			max-width: $container-max-width;
			margin-right: auto;
			margin-left: auto;
			padding-right: 0;
			padding-left: 0;

			padding-top: 0;
			position: relative;
			top: - em(70);

			.item-container {
				@include col(4);

				> div {
					@include animated();
					width: calc(100% - 17px) !important;
					position: absolute !important;

					background: white;
					padding: em(30) em(40);
					height: em(229);
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

					h3 {
						letter-spacing: em(0.3, 25);
					}
				}

			}
		}
	}
}

section.rasmus-quote {
	@include clearfix();

	position: relative;
	background-image: url(../img/rasmus-big-fliph.jpg);
	background-repeat: no-repeat no-repeat;
	background-position: -320px -50px ;
	background-size: auto 100%;
	height: em(470);
	padding-top: em(41);
	@extend .tablet__gutter;


	.player-container {
		position: relative;
		width: 300px;
		height: 200px;
		margin-right: 10%;
		float: right;
		margin-top: em(40);
		background-image: url(../img/ras-video.png);
		background-size: 100%;
		background-repeat: no-repeat;
		cursor: pointer;

		@media (min-width: $screen-sm-min) {
			float: none;
		}

	}

	// tablets
	@media (min-width: $screen-sm-min) {

		background-size: auto;
		background-clip: inherit;
		@media (min-width: $screen-md-min) {
			background-size: 110% !important;
		}

	}

	> div.rasmus-quote__content {

		@media (min-width: $screen-sm-min) {
			padding-left: 0 !important;
		}
		float: right;
		width: 40%;
		position: relative;
		z-index: 10;

		@media (max-width: 330px) {
			background-color: rgba(white, 0.8);
			width: 50%;
		}

		h4 {
			text-align: right;
			margin-top: 0;
			font-size: 1.6em;
			line-height: 1.6em;
			font-weight: 300;
			margin-bottom: em(19);
		}
		p {
			font-weight: 600;
			font-size: 1em;
			line-height: em(22);
		}
	}

	> div.rasmus-quote__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;
		//background-color: rgba(white, 0.5);

	}



	// desktop styles
	@media (min-width: $screen-sm-min) {

		// tablet
		@media (max-width: $screen-sm-max) {

			> div {
				h4 {
					margin-top: 0 !important;
				}
			}
		}

		background-image: url(../img/rasmus-big.jpg);
		background-repeat: no-repeat no-repeat;
		background-position: right -80px !important ;
		height: em(468);
		background-size: 110%;
		padding-top: em(41);

		> div {
			width: 100% !important;
			padding: 0 15px !important;
			float: none !important;
			max-width: $container-max-width !important;
			margin-left: auto;
			margin-right: auto;

			h4, p {
				text-align: left !important;
			}

			h4 {
				margin-right: 20%;

				@media (min-width: $screen-sm-max) {
					margin-top: em(25) !important;
				}
				font-size: em(36.91) !important;
				letter-spacing: em(1.3, 36.91);
				line-height: em(50, 36.91);
				font-weight: 300;
				margin-bottom: em(15) !important;
			}
			p {
				font-weight: 400;
				font-size: em(15);
				letter-spacing: em(1.7);
				line-height: em(20, 15);
			}
		}
	}
}

section.partners-quotes {

	@include clearfix();
	padding-top: em(40);
	// background-color: #EFEFEF;
	padding-bottom: em(40);

	@media (min-width: $screen-sm-min) {

		padding-bottom: em(110);
		padding-top: 0;
		position: relative;
		top: -40px;

		.carousel-inner {

			.item {

				min-height: em(330);
				max-width: 100% !important;
			}
			max-width: $container-max-width;
			margin-right: auto;
			margin-left: auto;

			.quoted-from-container {
				font-weight: 600;
			}
			.carousel-nav-left {
				top: 30% !important;
				left: 0 !important;
				img {
					float: right;
					width: 40%;
				}
				margin-left: 0 !important;
			}
			.carousel-nav-right {
				top: 30% !important;
				right: 0 !important;
				img {
					width: 40%;
				}
				margin-right: 0 !important;
			}
		}
	}
}

section.integration {

	@extend .tablet__gutter;

	// desktop styles

	@media (min-width: $screen-sm-min) {
		padding-top: em(69) !important;
		.items-container {

			@include clearfix();
			margin-bottom: em(69);

			.item-container {
				float: left;
				margin-bottom: 0 !important;
				width: 25%;
				margin-right: 8%;
				height: 200px;
			}
		}
	}
}
section.integration,
section.contact {
	@include clearfix();
	padding-top: em(50);

	> div {
		max-width: $container-max-width;
		margin-left: auto;
		margin-right: auto;

	}
	h2 {
		margin-top: 0;
		font-size: em(36);
		margin-bottom: em(50, 36);
		line-height: em(33, 36);
	}

	// desktop styles
	@media (min-width: $screen-sm-min) {

		padding-top: em(69) !important;
		padding-left: 0;
		padding-right: 0;

		h2 {
			margin-bottom: em(69, 36) !important;
			line-height: em(33, 36);
		}

	}
}

section.contact {
	@extend .tablet__gutter;
	background-color: #F8F8F8;

	// desktop styles
	@media (min-width: $screen-sm-min) {

		padding-bottom: em(75) !important;

		.form-horizontal {
			position: relative;
			display: table;

			.input-container {
				display: inline-block;

				input {
					width: em(250);
				}
				textarea, input.big {
					width: em(607)
				}
				input.half {
					width: em(338);
				}

				&.email {
					input {
						width: em(515);
					}
				}

				margin-right: em(15);


			}

			.submit {
				position: absolute;
				right: 0;
				top: 0;
				button {
					padding: em(28) 0;
					width: em(77);
				}
			}
		}

	}

}

section.contact {
	background-color: #efefef;

	@include clearfix();
	padding-bottom: em(70);

	> h4 {
		margin-bottom: em(14);
	}

	.section__description {
		margin-bottom: em(44);
	}

	form {
		.input-container {
			margin-bottom: em(16);

			input, textarea {
				width: 100%;
				border: 0;
				background: white;
				color: $brand-primary;
				padding: 8px;
			}
			input {
				height: em(32);
			}

		}
	}
}

.partners-quotes {
	.slick-carousel {

		> div {
			outline: 0;
			text-align: center;
			padding-bottom: em(50);


			q {
				display: block;
				font-size: em(22);
				line-height: em(32, 24);
				margin-bottom: em(19);
				color: black;
				font-weight: 300;

				@media (min-width: $screen-sm-min) {
					font-size: em(30)
				}
			}

			.author {
				margin-top: em(40);
				text-align: center;
				letter-spacing: em(1);
				line-height: em(22);
				font-weight: 600;
			}
		}
	}
}

.video-overlay {
	@extend .animated;
	@extend .fadeOut;
	display: none;

	background-color: rgba(black, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20000;

	top: 0;
	left: 0;

	&.vis {
		@extend .fadeIn;
		display: table;
	}

	> div {
		display: table-cell;
		vertical-align: middle;

		> div {
		}
		div.player-container {

			display: table;
			width: 100%;
			height: 100%;

			position: relative;

			> .close-ct {
				position: absolute;
				top: - em(40);
				left: 0;
				color: white;

				> span {
					cursor: pointer;
				}
				.close-label {
					position: relative;
					top: - em(5);
				}
			}

			iframe {
				width: 100%;
				height: 300px;

				@media (orientation: landscape) {
					height: 150px;
				}

				@media (min-width: $screen-sm-min) {
					height: 450px;
				}
			}

			> img {
				cursor: pointer;
				position: absolute;
				left: 50%;
				top: 50%;

				margin-top: -40px;
				margin-left: -40px;
				width: 80px;

				@media (min-width: $screen-sm-min) {
					margin-top: -40px;
					margin-left: -40px;
					width: 80px;
				}

			}
		}
	}
}

//  new

section.landing-section {
	position: relative;
	display: table;
	width: 100%;
	color: white;
	background-image: url(../img/articles/crypto-wallets/cover.png);

	.landing__overlay {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background: rgba(black, 0.8);
	}

	.landing-content {
		vertical-align: bottom;
		position: relative;
		display: table;

	}
}

.main-container.landing {

	background-color: #f1f1f1;

	//  new landing
	.new-landing-section {
		position: relative;

		.new-landing__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;

			&.new-landing__overlay--blue {
				background: transparent;
				background: -moz-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5aa2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}
			&.new-landing__overlay--black {
				@media (max-width: $screen-xs-max) {
					background-color: rgba(black, 0.4);
				}
			}
		}

		//  media queries
		.owl-carousel {
			margin-bottom: em(50);
			color: white;

			h1 {
				font-weight: 400;
			}

			@media (max-width: $screen-xs-max)	{
				margin-top: 0;


			}

			.v-item {
				background-size: auto 130%;
				background-position: right -100px;

				.overlay:before,
				.overlay:after {
					content: ' ';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
				}
				.overlay:after {
					background-color: rgba(black, 0.1);
				}
				.overlay:before {
					background: transparent;
					background: -moz-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5aa2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

				}
				.v-item-container {
					position: relative;
					z-index: 2;

					.v-item-content {
						padding-top: 25%;

						@media(min-width: $screen-sm-min) {
							padding-top: 5%;
						}
					}
				}

				@media (max-width: 550px) {
					background-position: right -250px bottom 0px;
				}
				@media (min-width: $screen-sm-min) {
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: left top;
					// background-position: 0 -320px;
					@media (max-width: 920px) {
						background-size: auto 100% !important;
					}

					.v-item-content {
						@include col(5);
					}
				}
				@media (min-width: $screen-lg-min) {
					background-position: 0% 50%;
				}

				.v-item-container {
					@extend .v-container;

				}
			}
		}

	}

	section.white-belt {
		@extend .clearfix;
		@extend .text-center;

		background-color: white;
		box-shadow: $material-shadow-1-both;
		position: relative;
		z-index: 10;
		padding-top: em(50);
		padding-bottom: em(50);

		h2,h3 {
			margin-top: 0;

			@media (max-width: $screen-xs-max)	{
				font-size: 300;
			}
		}
		strong {
			a {
				color: inherit;
			}
		}

	}

	.integration-container {
		@extend .white-belt;
		padding-bottom: em(50) !important;
		text-align: left !important;

		.buttons-container {
			@extend .clearfix;
			margin-top: em(20);
			margin-bottom: em(20);

			> div {
				@include col(6);
				height: em(42);
				margin-top: 8.5px;
				margin-bottom: 8.5px;

				.btn {
					font-size: 1em;
					height: em(42);
					width: 100%;
					padding-top: em(10);
					padding-bottom: em(10);

				}
			}
			@media (min-width: $screen-sm-min) {
				> div {
					@include col(2);
				}
			}
			@media (max-width: $screen-xs-max) {
				> div {
					height: em(62);
				}

				> div {
					.btn {
						height: em(62);
						padding-top: em(20);
						padding-bottom: em(20);
						.spinner {
							top: -20px;
						}
					}
				}
			}
		}

		h4 {
			margin: 0;
			font-weight: 400
		}

		.terms-of-use {
			color: black;
			font-size: em(13);
			a {
				color: black !important;
				border-bottom: 1px solid black !important;
			}

		}
	}

	section.authenticate-identity {
		overflow: hidden;
		@media (min-width: $screen-sm-min) {
			.content__image {
				position: relative;
				img {
					max-width: none !important;
					position: absolute;
					top: em(50);
					left: 30px;
					height: 600px;
					@media(min-width: $screen-sm-min) and (max-width: 800px) {
						top: em(110);
					}
				}
			}
		}
	}

	section.onboard-customers {
		video {
			display: none;
		}

		@media (min-width: $screen-sm-min) {
			.content__image {
				position: relative;
				video {
					display: block;
					position: absolute;
					top: em(121);
					right: 99px;
					width: 232px;
				}
				img {
					max-width: none !important;
					position: absolute;
					width: auto !important;
					height: 630px;
					top: em(50);
					right: 30px;
					@media (max-width: 925px) {
						// top: 166px;
					}
				}
			}
			.content__text {
				padding-bottom: em(55)
			}
		}
	}

	section.onboard-customers,
	section.accept-transactions,
	section.do-it-your-way,
	section.authenticate-identity {
		@extend .multimedia-section;
	}
	section.do-it-your-way,
	section.accept-transactions {
		padding-bottom: em(100);
	}

	h1 > small {
		font-size: 15px;
		color: inherit;
	}

	section.multimedia-section {

		.content__container {
			@extend .v-container;

			.content {
				@include row();

				.content__image {
					@include col(6);
					@extend .hidden-xs;

					img {
						max-width: 100%;
					}
				}
				.content__text {
					@include col(6);


					@media (max-width: $screen-xs-max) {

						width: 100%;
						float: none;

						&.content__text--guttered {
							padding-bottom: em(80);
						}

						h1 {
							font-weight: 300;
						}
						.v-row > div {
							width: 100% !important;
						}

					}

					h1 {
						margin-top: 2em;
						margin-bottom: 1em;
						&.secondary {
							margin-top: 1.2em;
						}
					}

					h5 {
						font-weight: bold;
					}

					.v-row {

						> div {
							@include col(6);
						}
					}
				}
			}
		}
	}

	section.kyc {
		padding-top: em(80);
		padding-bottom: em(100);

		@media (max-width: $screen-xs-max) {
			.kyc__item	{
				width: 100% !important;
				float: none;
				margin-bottom: em(30);

			}
		}

		h1 {
			margin-top: 0;
			margin-bottom: 0.9em;
		}

		.kyc__item {
			@include col(4);
			h5 {
				font-weight: bold;
			}
		}

	}

	.progress {
		.progress-bar {
			min-width: 230px;
			background-color: #F1F1F1;
			// border-width: 2px;
			box-shadow: none;
			border-bottom: 2px solid grey;

			p {
				margin-top: em(5);
			}
		}
	}

	div.veridu-profile {
		margin-top: em(50);
		position: relative;

		@media (max-width: $screen-xs-max) {
			h2.price-heading {
				// margin-top: em(80);
			}
		}

		> div.v-row {

			.profile__photo-container {
				float: left;
				width: 242px;
				padding-left: 8.5px;
				padding-right: 8.5px;

				max-height: 225px;
				overflow: hidden;

				img {
					width: 100%;
				}

			}
			.v-profile__progress-container {
				float: left;
				width: 41.6666%;
				padding-left: 8.5px;
				padding-right: 8.5px;
				height: em(280);

			}

			@media (max-width: $screen-xs-max) {

				margin-left: auto;
				margin-right: auto;
				max-width: 320px;
				position: relative;

				.v-profile__progress-container {
					padding-top: em(30);
					padding-left: 0;
					padding-right: 0;
					position: absolute;
					display: table;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;

					> div {
						display: table-cell;
						vertical-align: middle;
					}

					.progress {
						height: em(55);
					}

				}

				.profile__photo-container {
					width: 100%;
					padding: 0;
					max-height: none;
					min-height: 310px;
					float: none;

					img {
						width: auto;
						min-width: 100%;
						min-height: 310px;
						height: 320px;
					}

				}
			}

		}
	}

	h2.price-heading {
		> small {
			font-weight: normal;
			font-size: 0.45em;
			color: inherit;
		}
	}
}
