.page__cover-container {
    position: relative;

    .page__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-position: top left;

        .page__cover__overlay:before,
        .page__cover__overlay:after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .page__cover__overlay:after {
            background-color: rgba(black, 0.2);
        }
        .page__cover__overlay:before {
            background: transparent;
            background: -moz-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(#1a5aa2, 0.65) 0%, rgba(#1a5aa2, 0.1) 60%, rgba(0,0,0,0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a5aa2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        }

        .page__cover__content {
            @extend .v-container;
            position: relative;
            z-index: 2;
        }
    }
}

.page__section {

    padding-top: em(50);
    padding-bottom: em(50);

    h3.page__section__title {
        margin-top: 0;
        font-weight: 400;
    }
    .page__section__content {
        @extend .v-container;
    }

    &.page__section--white {
        background-color: white;
    }
}
