.header.pricing {

	.logo {
		@extend .responsive-logo;
	}

    .menu-content {
        ul.pricing-submenu {
			@media (max-width: $screen-xs-max) {
	            display: inline-block;
			}
        }
    }


}
section.pricing {

	overflow: hidden;

    .page-header {
        margin-top: 0;
		background-color: #efefef;
		margin-bottom: 0;
		padding-bottom: em(21);

		@media (max-width: $screen-xs-max) {
			border: 0;
		}

		@media (min-width: $screen-sm-min) {
	        padding-top: em(50);
		}

        .page__description {
            font-size: em(18);
            font-weight: 400 !important;
        }

        .header-content {
            @extend .veridu-container;

            h2.page-title {
                margin-top: em(20,50);
                font-size: em(40);
				.global {
					@extend .text-capitalize;
				}
				@media (min-width: $screen-sm-min) {
					.global {
						text-transform: none;
					}
					.dot {
						display: none;
					}
				}

            }

            .header--left {
				@media (min-width: $screen-sm-min) {
	                @include col(8);
				}
            }

        }
    }

    .pricing__option-label {
        font-size: em(20);
        font-weight: 300;
    }

    .plans-wrapper {
        @extend .veridu-container;
		background-color: #efefef;
		position: relative;
		padding-bottom: em(45);

		@media (max-width: 350px) {
			padding-bottom: em(20);
			h4,p,a {
				font-size: 0.90em;
			}
		}

		@media (min-width: $screen-sm-min) {
			padding-bottom: 0;
		}

		.mobile-indicators {
			@extend .visible-xs;
			position: relative;
			z-index: 10;

			text-align: center;

			> span {
				width: 15px;
				height: 15px;
				border: 3px solid $brand-primary;
				border-radius: 50%;

				margin-left: 5px;
				margin-right: 5px;

				display: inline-block;
				cursor: pointer;

				&.active {
					background-color: $brand-primary;
				}

			}
		}

        .plans-container {
            @include row();

            .plan__cell, .cell {
                min-height: em(115);
                padding-top: em(10);
                padding-bottom: em(10);
                @media (min-width: $screen-sm-min) {
                    height: em(115);
                }

				.black-link {
					border-bottom: 1px solid black;
				}
            }

            > div.plans-sizes {
                @include col(6);

                @media (max-width: $screen-xs-max) {
					float: left;
					width: 160px;
					position: relative;

                    > div {
						position: absolute;
						width: 900px !important;

						> div.plan-size {
							width: em(151) !important;

							&.slideInRightMobile {
								display: block !important
							}

						}
                    }

                }

                > div {
                     @include row();

                    > div.plan-size  {
                        @include col(4);

						// animated
						-webkit-animation-duration: 0.35s;
					    animation-duration: 0.35s;
					    -webkit-animation-fill-mode: both;
					    animation-fill-mode: both;

						overflow: hidden;

						&.dummy-plan {
							display: none;
						}


						@media (max-width: $screen-xs-max) {
							&.plan-size--not-active {

								display: none;

								&.dummy-plan {
									display: block;
								}

								.plan__cell {
									> * {
										display: none;
									}
								}
							}
						}

						&.plan-size--low {
							.plan__cell {
								background-color: #C8E6C9;
							}
						}
						&.plan-size--medium {
							.plan__cell {
								background-color: #A5D6A7;
							}
						}
						&.plan-size--high {
							.plan__cell {
								background-color: #81C784;
							}
						}

                        .plan__cell {

                            background-color: #C7E6C9;
                            color: #1B5E20;
                            text-align: center;

                            &.plan__cell--last {
                                height: em(990);
								@media (min-width: $screen-sm-min) {
									height: em(190);
								}
                            }

                            p.plan-size__label {
                                font-weight: bold;
								font-size: em(18);
								margin-top: em(20, 18);
								margin-bottom: em(3, 18);
                            }

                            > div.plan-size__value {
                                span {
                                    font-weight: 1em;
                                    display: inline-block;
                                }
                                h2 {
                                    margin-bottom: 0;
                                    margin-top: em(10, 32);
                                    font-weight: bold;
                                    display: inline-block;
                                }
                            }

                            p.per-month {
                                margin-bottom: 0;
                            }

                            &.plan__cell--heading {
                                h2 {
                                    margin-bottom: 0 !important;
                                }

                            }

                        }

                    }
                }
            }
            > div.plans-descriptions {

				float: left;
				width: calc(100% - 160px);
				.cell--separator {
					border-bottom: 1px solid #888 !important;
				}

				@media (min-width: $screen-sm-min) {
					@include col(6);
				}

				div.cell {

					p.plan-description {
						a {
							display: inline-block;
							outline: 0;
						}
						> span {
							display: none;
						}

						&.mobile-vis {
							a {
								//display: none;
								margin-top: 5px;
							}
							> span {
								display: block;
							}
						}
					}
				}

                @media (min-width: $screen-sm-min) {
                    div.cell {
                        h4 {
                            font-size: 1.0em;
                            font-weight: bold;
                        }

						p.plan-description {
							a {
								display: none;
							}

							> span {
								display: block;
							}

						    font-weight: 300;

						}
                    }
                }
            }
        }
    }

    .advantages-wrapper {
        background-color: white;
        position: relative;
        z-index: 2;
		box-shadow: 0 -2px 2px lighten(grey, 20%);
		padding-top: em(30);

		@media (min-width: $screen-sm-min) {
			padding-bottom: em(60);
		}

        > div.advantages-container {
            @extend .veridu-container;

            > h2 {
                margin-bottom: em(20);
                font-weight: 300;
                font-size: em(40);
            }

        }

        .v-list {
            > li {
				@media (min-width: $screen-sm-min) {
					height: em(365);
				}
				@media (min-width: $screen-md-min) {
					height: em(285);
				}

				@media (max-width: $screen-xs-max) {
					margin-bottom: em(40);
				}

            }
        }
    }
}
