.header {
	.solutions-submenu {
		display: none;
	}
}

// shows only on solutions page
.header.solutions {

	.current-state {
		display: inline-block !important;
	}
	.veridu-img {
		display: none;
	}

	.id-img {
		display: inline-block !important;
	}
	.solutions-submenu {

		background: white;
		font-weight: bold;
		padding: 0;
		margin-left: 15px;
		display: inline-block;

		li {
			a {
				text-decoration: none;
			}

			i {
				visibility: hidden;
			}

			&:first-of-type {
				display: block;
			}

			&:hover, &.selected {
				i {
					visibility: visible;
				}

			}
			display: none;
		}

		&:hover {

			li {
				display: block !important;
				&:last-of-type {
					margin-bottom: em(30);
				}
				&:first-of-type {
					display: none !important;
				}
			}
		}
		list-style: none;
	}

}

.main-container-solutions {

	background: #eee;

	.page-title {
		font-size: em(36);
		margin-bottom: em(16,36) !important1
	}

	.solution__item {

		@media (max-width: $screen-xs-max) {
			height: em(430);
		}

		@media (min-width: $screen-sm-min) {
			height: em(413);
		}

		&#sectors-tabs {
			height: em(250);
		}

		background-image: url(/img/coworking.jpeg);
		background-repeat: no-repeat no-repeat;
		background-size: 250%;
		background-position: center center;
		position: relative;

		&.solution__item__notfirst {
			margin-top: em(20);
		}


		.solution__item_description {
			font-size: em(14);
			line-height: em(22);

		}

		.solution__item__content{
			@extend .tablet__gutter;

			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding-top: em(33);
			padding-bottom: em(33);
			background-color: rgba(#311B92, 0.8);
			color: white;

			@media (max-width: $screen-xs-max) {
				padding-right: 10%;
				padding-left: 10%;
			}

			> div {
				@extend .sm-container;
			}
			.solution__item__title {
				font-weight: 300;
			}
			&.solution__item__content--purple {

				background-color: rgba(#7E57C2, 0.8);

			}

			&.solution__item__content--grey {

				background-color: #9D9D9D;

			}

			.solution__item__tags__container {
				position: absolute;
				width: 100%;
				max-width: none !important;
				padding-bottom: em(33);
				background: transparent !important;
				bottom: 0;

				> div {
					@extend .sm-container;
				}

				@media (max-width: $screen-xs-max) {
					padding-right: 10%;
				}
			}
		}

		.solution__item__content {

		}

	}

	.panel-controls {
		@include clearfix();
		@extend .sm-container;
		@extend .tablet__gutter;

		&.hidden-xs {
			margin-bottom: em(40);
		}

		&.panel-controls--purple {
			> div > div {
				background: #7E57C2;

				@media (min-width: $screen-sm-min) {
					border-color: #7E57C2;
				}
			}
		}

		&.panel-controls--grey {
			> div > div {
				background: #9D9D9D;

				@media (min-width: $screen-sm-min) {
					border-color: #9D9D9D;
				}
			}
		}

		> div {
			@media (min-width: $screen-sm-min) {
				margin-top: em(28);
				@include col(3);

				&:first-of-type {
					padding-left: 0 !important;
				}
				&:last-of-type {
					padding-right: 0 !important;
				}
			}

			> div {
				cursor: pointer;
				width: 50%;
				float: left;
				text-align: center;
				border: 1px solid #EFEFEF;
				background: #311B92;
				padding-top: em(17);
				padding-bottom: em(17);
				color: white;
				font-size: em(16);
				letter-spacing: em(0.5, 16);
				line-height: em(22, 16);

				@media (min-width: $screen-sm-min) {
					width: 100%;
					border: 0;
					border-bottom: 8px solid #311B92;
				}

				&.panel-controls__item_block {
					width: 100%;
				}

				&:hover, &.selected {
					background: white;
					color: black;
				}
			}
		}
	}

}
.solution__section__container {
	@include clearfix();
	@extend .tablet__gutter;
	@extend .sm-container;

	&.solution__section__container--clients-partners {

		@media (min-width: $screen-sm-min) {
			h2 {
				margin-top: em(140, 36) !important;
			}
		}
	}

	.solution__section__title {
		font-size: em(36);
		font-weight: 300;
		margin-top: em(56, 36);
		margin-bottom: em(32,36);
		&:first-of-type {
			margin-top: em(37,36);
			margin-bottom: em(26,36);

			@media (min-width: $screen-sm-min) {
				margin-top: em(65, 36);
				margin-bottom: em(27, 36);
			}
		}
	}
	.solution__section__description {
		&:first-of-type {
			margin-bottom: em(30);
		}

		@media (min-width: $screen-sm-min) {
			width: 56%;
			margin-bottom: em(39) !important;
		}
	}
}

.page.solutions {
	section.integration {

		@media (min-width: $screen-sm-min) {
			background-color: #efefef;
			h2.font-light {
				margin-top: em(140, 36) !important;
			}
		}

		h2 {
			@extend .sm-container;
		}

		padding-bottom:  em(140);
	}
}
