@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?z8w12m');
	src:url('fonts/icomoon.eot?z8w12m#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?z8w12m') format('truetype'),
		url('fonts/icomoon.woff?z8w12m') format('woff'),
		url('fonts/icomoon.svg?z8w12m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
	content: "\e904";
}
.icon-chevron-thin-right:before {
	content: "\e903";
}
.icon-menu:before {
	content: "\e900";
}
.icon-chevron-thin-left:before {
	content: "\e901";
}
.icon-chevron-down:before {
	content: "\e902";
}
.icon-copy:before {
	content: "\e905";
}

