<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Veridu.com - Verifying identity</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/{{ "css/main.css" }}?v={{site.version}}">

        <style media="screen">
            body {
                background: #f1f1f1;
            }
            .call {
                position: absolute;
                width: 100%;
                top: 30%;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <div class="call">
            Identifying ...
        </div>
        
        <script type="text/javascript">
            var ssoEvent = new Event('Veridu_SSO');
            ssoEvent.veridu = {
                id: getURLParameter('veridu_id'),
                name: getURLParameter('veridu_name'),
                email: getURLParameter('veridu_email'),
                nonce: getURLParameter('veridu_nonce'),
                provider: getURLParameter('veridu_provider'),
                session: getURLParameter('veridu_session')
            };

            window.opener.dispatchEvent(ssoEvent);
            window.close();

            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
            }
        </script>
    </body>
</html>
