// sample markup on index.html

.verification-container {

	@include make-row();

	background: #F7F6F6;

	.buttons-container {

		@include clearfix();
		div.btn-container {

			float: left;
			margin-right: em(15);
			width: em(150);

			margin-bottom: em(13);
			
			button {
				padding: em(23) 0;
				width: 100%;
				max-width: em(153);

				border: em(1) solid $brand-primary !important;

				&:hover {
					background: white;
					border: em(1) solid $brand-primary !important;
					color: $brand-primary;
				}
			}
		}
	}
}