// sample markup on index.html

.verification-container {
	background: #F7F6F6;

	.buttons-container {

		@include clearfix();

		div.btn-container {

			@include make-xs-column(6);
			padding-left: 0;

			margin-bottom: em(13);

			&.right {
				button {
					float: right;
				}
			}
			&.left {
				button {
					float: left;
				}
			}

			button {
				padding: em(23) 0;
				width: 100%;

				&:disabled {
					background-color: $brand-primary-border-color !important;
					border-color: $brand-primary-border-color !important;
					border-width: 2px !important
				}

			}
		}

	}
	div.hidden-integrations {

		display: none;

	}

}