// sample markup on index.html

.verification-container {
	background: #F7F6F6;

	.buttons-container {

		@include clearfix();
		
		div.btn-container {

			@include make-xs-column(6);
			padding-left: 0;

			margin-bottom: em(13);

			&.right {
				button {
					float: right;
				}
			}
			&.left {
				button {
					float: left;
				}
			}
			
			button {
				padding: em(23) 0;
				width: 100%;

				border: em(1) solid $brand-primary !important;

				&:hover {
					background: white;
					border: em(1) solid $brand-primary !important;
					color: $brand-primary;
				}
			}
		}

	}
	div.hidden-integrations {

		display: none;

	}

}