.block-link {
	@include clearfix();
	display: block;
	width: 100%;
	height: em(40);
	position: relative;

	background-color: #FAFAFA;
	box-shadow: $material-shadow-1;

	> div {
		&.block-link__text {
			position: absolute;
			left: 1em;
			top: 0.5em;
			color: #333;
		}
		&.block-link__icon {
			position: absolute;
			width: 50px;
			top: 0;
			right: -2px;

			button {
				height: em(40);
			}

		}
	}

}
