// make specific buttons

.btn {
	border: 0;
	-webkit-transition: all 0.10s linear;
	-moz-transition: all 0.10s linear;
	-ms-transition: all 0.10s linear;
	-o-transition: all 0.10s linear;
	transition: all 0.10s linear;
	outline: 0 !important;


	&:hover,
	&:focus,
	&:active {
		border-bottom-width: 4px !important;
	}
}


@mixin v-btn($bg-color, $color) {

	border-bottom: 2px solid $color !important;
	background-color: $bg-color;
	color: $color;

	&:hover{
		background-color: $bg-color;
		color: $color;
	}

	&.active{
		color: white;
		background-color: $color !important ;
	}

	// grey primary
	&:disabled {
		@include opacity(1);
		background-color: #9e9e9e !important;
		border-color: #9e9e9e !important;
	}

}

.btn-primary {
	@include v-btn($brand-primary, $brand-primary-border-color);
}

.btn-blue {
	@include v-btn($bg-brand-blue, $color-brand-blue);
}

.btn-success1 {
	@include v-btn($bg-brand-success1, $color-brand-success1);
}
.btn-lightblue {
	@include v-btn($bg-brand-lightblue, $color-brand-lightblue);
}
.btn-success2 {
	@include v-btn($bg-brand-success2, $color-brand-success2);
}
.btn-purple {
	@include v-btn($bg-brand-purple, $color-brand-purple);
}
.btn-lightgreen {
	@include v-btn($bg-brand-lightgreen, $color-brand-lightgreen);
}

.btn-bluegreen {
	@include v-btn($bg-brand-bluegreen, $color-brand-bluegreen);
}

.btn-warning2 {
	@include v-btn($bg-brand-warning2, $color-brand-warning2);
}

.btn-yellow {
	@include v-btn($bg-brand-yellow, $color-brand-yellow);
}