// make specific buttons

.btn {
	border: 0 !important;
}

.btn-primary {
	
	border: em(1) solid $brand-primary !important;

	&:hover,
	&:focus,
	&:active {
		background: white !important;
		color: $brand-primary !important;
	}
}