// overrides bootstrap's carousel default styling

#main-slider {
	@include clearfix();	
	background-image: url(/img/coworking.jpeg);
	background-size: 100%;
	
	.item {
		height: em(193);
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(black, 0.75);
		}	
		.container {
			position: absolute;
			width: 70% ;
			margin:0 auto;
			text-align: center;
			bottom: em(20);

			.carousel-caption {
				right: 0;
				left: 0;
				text-shadow: none;
				h1 {
					letter-spacing: em(2);
					font-weight: 400 !important;
					font-size: em(34);
					line-height: 1.25em;
				}
			}
		}
	}

	.carousel-indicators {

		li {
			width: em(15);
			height: em(15);
			border-color: $brand-primary;
			border-width: em(2);
			
			&.active {
				background-color: $brand-primary;
			}
		}

	}
}