// overrides bootstrap's carousel default styling
#main-slider {

	@include clearfix();
	background-image: url(../img/coworking.jpeg);
	background-size: 100%;

	.item {
		height: em(193);
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(black, 0.75);
		}
		.container {
			position: absolute;
			width: 70% ;
			margin:0 auto;
			text-align: center;
			bottom: em(20);

			.carousel-caption {
				right: 0;
				left: 0;
				text-shadow: none;
				h1 {
					letter-spacing: em(2);
					font-weight: 400 !important;
					font-size: em(34);
					line-height: 1.25em;
				}
			}
		}
	}

	.carousel-indicators {

		li {
			width: em(15);
			height: em(15);
			border-color: $brand-primary;
			border-width: em(2);

			&.active {
				background-color: $brand-primary;
			}
		}

	}
}


// Slick carousel

.slick-carousel {

	position: relative;

	//  carousel item
	> div,
	> q {

	}

	.nav-prev,
	.nav-next {
		z-index:10;
		position: absolute;
		bottom: 0;
		color: black;

		img {
			width: 12px;
		}
	}
	.nav-next {
		right: 0;
	}
	.nav-prev {
		left: 0;
	}
}

.slick-dots
{
    position: absolute;
    bottom: -10px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{

    position: relative;
    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
	background: lighten(grey, 20%);;
}

.slick-dots li button:before
{
	@include transitions();
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 11px;
    height: 11px;

	border: 2px solid black;
	border-radius: 50%;

    content: '';

    text-align: center;

    // opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    // opacity: .75;
	opacity: 1;

	background: black;
    color: black;
}