input {
	border: em(1) solid #B3B3B3;
	padding: em(8);
	outline: 0;
	color: $brand-primary;

	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;

	&.no-border {
		border: 0;
	}

	&.has-error {
		border-color: $brand-danger;
		color: $state-danger-text;
	}

}

textarea {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}