a {

	&.white-link {

		text-decoration: none;
		color: white;

		&:hover {
			color: white;
		}
	}

	&.black-link {

		text-decoration: none;
		color: black;

		&:hover {
			color: black;
		}
	}
}

a.elegant-link {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid $brand-primary;
	}
}