// overrides bootstrap's progress bars default styling

.progress {

	background: transparent;
	box-shadow: none;
	height: em(46);
	margin-bottom: em(14);

	.progress-bar {
		background-color: white;
 		border-right: em(2) solid $brand-primary;
 		padding: em(12);
 		padding-left: em(8);

		> p {
			
			color: black;
			text-align: left;
			font-size: em(16);

			.attributeValue {
				font-weight: normal;
				font-size: em(15);
				float: right;
				letter-spacing: em(0.5);

			}
		}
	}
}