// overrides bootstrap's progress bars default styling

.progress {

	background: transparent;
	box-shadow: none;
	height: 3.05em;
	margin-bottom: em(14);

	@media (min-width: $screen-sm-min) {

		height: em(34);
		height: 3.05em;

		.progress-bar {
			p {
				margin-top: 0 !important;
			}
		}
	}

	.progress-bar {
		background-color: white;

		padding: em(13);
		padding-left: 5%;
		padding-right: 5%;


		> p {

			color: black;
			text-align: left;
			font-size: em(16);

			.attributeValue {
				font-weight: normal;
				font-size: em(15);
				float: right;
				letter-spacing: em(0.5);

			}
		}
	}
}
