// tag styles

.tag {
	@extend .btn;

	font-size: em(10);
	color: white !important;
	margin-bottom: em(10, 10);
	margin-right: em(7, 10);
	padding: em(6,10) em(9,10);
	line-height: em(12,10);
	letter-spacing: em(0.9, 10);
	cursor: default;
	&:hover {
		color: inherit;
	}

	&.tag--sectors {
		background-color: #311B91;	
	}

	&.tag--partner {
		background-color: #7D57C1
	}

	&.tag--sources {
		background-color: #8BC34A
	}

	&.tag--scores {
		background-color: #009687
	}

	&.tag--integration {
		background-color: #9E9E9E
	}

	&.tag--lightbluegreen {
		background-color: #009687
	}
	&.tag--warning {
		background-color: #FF5721
	}
	&.tag--usecases {
		background-color: #B39DDA
	}
}