// tag styles

.tag {
	@extend .btn;

	font-size: 0.666em;
	color: white;
	margin-bottom: em(10, 10);
	margin-right: em(7, 10);
	padding: em(6,10) em(9,10);
	line-height: em(12,10);
	letter-spacing: em(0.9, 10);
	cursor: default;

	&:hover {
		color: inherit;
	}

	&.tag--sectors {
		background-color: #9FA8DA;
		color: #311B91;
	}

	&.tag--partner {
		background-color: #B39DDB;
		color: #301B92;
	}

	&.tag--sources {
		background-color: #A4D5A7;
		color: #1B5E1F
	}

	&.tag--scores {
		background-color: #80CAC4;
		color: #004D40;
	}

	&.tag--integration {
		background-color: #9E9E9E
	}

	&.tag--lightbluegreen {
		background-color: #009687
	}
	&.tag--warning {
		background-color: #80CAC4;
		color: #BE360B;
	}
	&.tag--usecases {
		background-color: #CE92D7;
		color: #870E4F;
	}
}