// tag styles

.tag, .v-tag {
	@extend .btn;

	font-size: 0.666em;
	color: white;
	margin-bottom: em(10, 10);
	margin-right: em(7, 10);
	padding: em(6,10) em(9,10);
	line-height: em(12,10);
	letter-spacing: em(0.9, 10);
	cursor: default;

	&:hover {
		color: inherit;
	}

	&.tag--sectors {
		background-color: #9FA8DA;
		color: #311B91;
	}

	&.tag--partner {
		background-color: #B39DDB;
		color: #301B92;
	}

	&.tag--sources {
		background-color: #A4D5A7;
		color: #1B5E1F
	}

	&.tag--scores {
		background-color: #80CAC4;
		color: #004D40;
	}

	&.tag--integration {
		background-color: #9E9E9E
	}


	&.tag--lightbluegreen {
		background-color: #009687
	}
	&.tag--warning {
		background-color: #FFA98E;
		color: #BE360B;
	}
	&.tag--usecases {
		background-color: #CE92D7;
		color: #870E4F;
	}
}

@mixin v-tag($bg-color, $color) {
	background-color: $bg-color;
	color: $color;
	&:hover {
		color: $color;
	}
}


.v-tag--primary {
	@include v-tag($brand-primary, $brand-primary-border-color);
}

.v-tag--blue {
	@include v-tag($bg-brand-blue, $color-brand-blue);
}

.v-tag--success1 {
	@include v-tag($bg-brand-success1, $color-brand-success1);
}
.v-tag--lightblue {
	@include v-tag($bg-brand-lightblue, $color-brand-lightblue);
}
.v-tag--success2 {
	@include v-tag($bg-brand-success2, $color-brand-success2);
}
.v-tag--purple {
	@include v-tag($bg-brand-purple, $color-brand-purple);
}
.v-tag--lightgreen {
	@include v-tag($bg-brand-lightgreen, $color-brand-lightgreen);
}

.v-tag--bluegreen {
	@include v-tag($bg-brand-bluegreen, $color-brand-bluegreen);
}

.v-tag--warning2 {
	@include v-tag($bg-brand-warning2, $color-brand-warning2);
}

.v-tag--yellow {
	@include v-tag($bg-brand-yellow, $color-brand-yellow);
}

.v-tag--orange {
	@include v-tag($bg-brand-orange, $color-brand-orange);
}

.v-tag--grey {
	@include v-tag(#ddd, black);
}