// Try it
div.try-it {
    background-color: white;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 415px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-primary {
        line-height: 1.6;
        height: 38px;
    }

    .form-group {
        margin-bottom: 1.2em;

        label {
            font-weight: 400;
            cursor: pointer;
        }

        input[type=checkbox] {
            position: relative;
            top: 2px;
            margin-right: 5px;
            &:after {
                content: ' ';
                display: block;
                background-color: red;
                height: 30px;
                width: 30px;
            }
        }
    }
    .try-it__call {
        h3 {
            margin-top: 0;
        }
    }

    .try-it__buttons--hidden {
        display: none;
    }
    .buttons-container {
        @extend .clearfix;
        margin-top: em(20);
        margin-bottom: em(20);


        .btn-primary {
            line-height: 1.4;
        }
        .btn--loading {
            .icn {
                margin-left: 0;
                margin-right: 0;
                position: relative;
                top: 3px;

                &.icn-twitter {
                    top: 2px;
                }
                &.icn-googleplus,
                &.icn-twitter {
                    margin-right: 3px;
                }

                &.icn-googleplus,
                &.icn-linkedin {
                    top: 1px;
                }
            }
        }

        > div {
			@include col(6);
			height: em(42);
			margin-top: 8.5px;
			margin-bottom: 8.5px;

			.btn {
				font-size: 1em;
				height: em(42);
				width: 100%;
				padding-top: em(10);
				padding-bottom: em(10);

			}
		}
		@media (min-width: $screen-sm-min) {
			> div {
				@include col(2);
			}
		}
		@media (max-width: $screen-xs-max) {
            > div {
				height: em(62);
			}

			> div {
				.btn {
					height: em(62);
					padding-top: em(20);
					padding-bottom: em(20);
					.spinner {
						top: 3px;
					}
				}
			}
		}
    }

    div.veridu-profile {

        .veridu-profile__photo-container {
            @include col(3);
            height: 250px;

            > div {
                height: 250px;
                background-size: 100% auto;
                background-position: center center;
                background-repeat: no-repeat;

            }

            @media (max-width: $screen-xs-max) {

                @include col(6);
                height: 172px;
                padding-right: 0;

                > div {
                    height: 172px;
                    background-size: auto 120%;
                }
            }

        }
        .veridu-profile__progress-container {
            @include col(4);
            h1 {
                font-weight: 400;
                display: inline-block;
                margin: 0;
            }
            span.hours-to-fake {
                font-weight: 600;
                margin-left: .2em;
            }

            .progress {
                margin-top: 2em;
                margin-bottom: 2em;
            }

            @media (min-width: $screen-sm-min) {
                .progress {
                    .attributeValue {
                        img {
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
            @media (max-width: $screen-xs-max) {
                @include col(6);
                padding-left: 17px;
                text-align: center;
                background: #f1f1f1;
                > div {
                    height: 172px;
                }
                p {
                    line-height: 20px;
                }

                @media (max-width: 350px) {
                    h1 {
                        font-size: 29px;
                    }
                }
                .progress {
                    @include clearfix();
                    width: calc(200% + 43px);
                    margin-left: calc(-100%  - 34px);
                    margin-top: em(58);

                    .progress-bar {
                        padding-top: em(14);

                        .attributeValue {
                            top: em(7);
                        }
                    }
                }

                .veridu-profile__progress-container__actions {
                    width: 100%;
                    width: calc(200% + 43px);
                    margin-left: calc(-100%  - 34px);

                }
            }
        }
    }

    .veridu-profile__progress-container__actions {
        font-size: 0.92em;
        > span {
            font-size: 1em;
            margin-right: 1em;
            cursor: pointer;

            > i {
                font-size: 1.4em;
                margin-right: em(5);
            }
            > span {
                font-size: 1.1em;
                position: relative;
                top: - em(4);
            }
        }
    }
    .veridu-profile__info-container {
        @include col(3);
        margin-left: 16.6666666%;


        .veridu-profile__info-container__price-label {
            font-weight: 600;
            margin-right: 0.5em;
        }
        h1.veridu-profile__info-container__price {
            display: inline-block;
            font-weight: 400;
            span {
                font-size: 15px;
                font-weight: 600;
            }
        }
        p {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        //  mobile
        @media (max-width: $screen-xs-max) {
            @include col(12);
            text-align: center;
            margin-top: 200px;
            margin-left: 0;
            .btn-primary {
                line-height: 2.5;
                height: 52px;
            }
        }

    }

    .try-it__create-account {
        display: none;
        margin-top: 2em;

        .btn-primary {
            line-height: 2;
            height: 44px;
        }

        $steps-width: 70px;
        .try-it__create-account__steps {
            -webkit-transition: height 0.25s ease-in;
            -moz-transition: height 0.25s ease-in;
            -ms-transition: height 0.25s ease-in;
            -o-transition: height 0.25s ease-in;
            transition: height 0.25s ease-in;

            width: $steps-width;
            position: relative;
            float: left;
            background-image: url(../img/1px-gray.jpg);
            background-position: center center;
            background-repeat: repeat-y;
            height: em(420);

            &.second-step {
                height: 160px;
            }

            .try-it__create-account__steps__step {
                -webkit-transition: all 0.25s ease-in;
                -moz-transition: all 0.25s ease-in;
                -ms-transition: all 0.25s ease-in;
                -o-transition: all 0.25s ease-in;
                transition: all 0.25s ease-in;

                display: block;
                border: 1px solid black;
                background: white;
                width: 100%;
                border-radius: 100%;
                height: $steps-width;

                div {
                    position: relative;
                    text-align: center;
                    top: em(10);

                    > span {
                        font-size: 2em;
                        // letter-spacing: -3px;
                    }
                }
                &.step--disabled {
                    height: $steps-width * 2/3;
                    width: $steps-width * 2/3;
                    border-color: $gray-light;
                    color: $gray-light;
                    font-size: 10px;
                    margin-left: em(12, 10);
                }

                &.try-it__create-account__steps__step--1 {
                    position: relative;
                }
                &.try-it__create-account__steps__step--2 {
                    position: absolute;
                    bottom: 0;
                }
            }

        }

        .try-it__create-account__content {
            float: left;
            width: calc(100% - 70px);
            max-width: 649px;
            padding-left: em(19);

            div.state {

                &.state--create-account {
                    @extend .enhance-perf;

                    height: 300px;
                    -webkit-transition: height 0.25s ease-in;
                    -moz-transition: height 0.25s ease-in;
                    -ms-transition: height 0.25s ease-in;
                    -o-transition: height 0.25s ease-in;
                    transition: height 0.25s ease-in;

                    h4 {
                        -webkit-transition: all 0.25s ease-in;
                        -moz-transition: all 0.25s ease-in;
                        -ms-transition: all 0.25s ease-in;
                        -o-transition: all 0.25s ease-in;
                        transition: all 0.25s ease-in;
                    }

                    &.state--disabled {
                        height: 50px;
                        overflow: hidden;

                        h4 {
                            font-size: 13px !important;
                            color: $gray-light;
                            position: relative;
                            top: -10px;
                        }
                    }

                }

                .state__title {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.2;
                    margin-top: em(16);
                }

                &.state--disabled {

                    .hidden-disabled {
                        display: none;
                    }

                    .state__title {
                        font-weight: 400;
                        color: $gray-light;
                        h4 {
                            font-size: 15px !important;
                        }
                    }
                }

                &.state--verify-others {

                    margin-top: 60px;

                    &.state--disabled {
                        margin-top: 0;
                        position: absolute;
                        bottom: em(50);
                    }
                    .take-me-to-account {
                        display: none;
                        margin-top: 2em;
                        a {
                            display: inline-block;
                            &:first-of-type {
                                margin-right: 2em;
                            }
                        }
                    }
                }
            }

        }
    }
    .terms-of-use {
        a {
            display: inline-block;
            border-bottom: 1px solid black;
        }
    }
}

.material-input-container {
    width: 100%;
    max-width: 397px;

    textarea {
        font-size: .85em;
        outline: 0;
        resize: none;
    }

    input, textarea {
        width: 100%;
        color: $gray-dark;
        border: 0;
        padding: 4px;
        padding-left: 1px;
        border-bottom: 1px solid #eee;
        position: relative;

        &.ng-invalid.ng-touched {
            border-color: $brand-danger;
        }
    }

    &.focused {
        input, textarea {
            // border-color: transparent;

            &.ng-invalid.ng-touched {
                border-color: $brand-danger;
            }
        }

        &:after {
            width: 100%;
        }
    }

    &:after {
        -webkit-transition: width 0.15s ease-in;
        -moz-transition: width 0.15s ease-in;
        -ms-transition: width 0.15s ease-in;
        -o-transition: width 0.15s ease-in;
        transition: width 0.15s ease-in;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);

        content: ' ';
        position: relative;
        top: -1px;
        width: 0;
        height: 1px;
        margin: 0 auto;
        display: block;
        background-color: $brand-primary;
    }

    &.material-input-container--textarea {
        @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
            &:after {
                top: -6px;
            }
        }
    }

    &.material-input-container--error {
        input, textarea {
            border-color: $brand-danger;
        }

        &:after {
            background-color: $brand-danger;
        }
    }
}

.md-error {
    position: relative;
    top: -16px;
    font-size: 0.8em;
    color: $brand-danger;
}


// header try-it
.header {
    div.try-it {
        display: none;
        left: 0;
        top: 53px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding: 2em 0;
        box-shadow: 0 8px 6px rgba(0,0,0,0.26);

        @media (max-width: $screen-xs-max) {
            display: none !important;

            // max-width: none;
            // > div.v-container {
            //     max-width: 415px;
            //     width: 100%;
            //     margin-left: auto;
            //     margin-right: auto;
            // }
        }

    }
}
